{% extends 'pages/base-page-text.html' %}

{% load static from staticfiles %}
{% load jeslee_utils %}


{% block page-title %}
    Over Jeslee
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/jquery/jquery.expander.js' %}"></script>
{% endblock %}

{% block jquery-document-ready %}
    $('.expandable').expander({
    slicePoint: 1513,
    expandPrefix: '..',
    expandText: 'lees meer',
    userCollapseText: 'verberg',
    });
{% endblock %}

{% block menu_about_class %}selected{% endblock %}

{% block page-content %}

    <article>
        <div class="expandable">
            <p>
                Jeslee is een speciaalzaak voor feestelijke kinderkleding.<br/>
                Wij ontwerpen en verkopen sprookjesachtige unieke prinsessenjurkjes en nette kleding voor speciale
                gelegenheden. Ook meisjes tot 15 jaar kunnen hun feestelijke kleding bij ons vinden.
            </p>

            <p>
                Al onze artikelen zijn speciaal ontworpen door eigen ontwerpers van Jeslee. Ze zijn van hoge kwaliteit
                en worden in Nederland gemaakt. Dit betekent dat er geen sprake is van kinderarbeid of slechte
                arbeidsomstandigheden.
            </p>


            <p>
                Bent u op zoek naar een mooi prinsessenjurkje voor een verjaardagscadeau of zoekt u een exclusief of
                origineel jurkje voor een bijzondere dag dan nodig ik u uit om <a href="{% url 'winkel' %}">onze
                collectie te bekijken</a>.
            </p>

            <p>
                Hopelijk zit er iets tussen dat u aanspreekt.
            </p>
{% comment %}
            <p>
                Wilt u liever onze kleding in het echt bekijken? Neem dan gerust <a href="{% url 'contact' %}">contact</a>
                met ons op of stuur een e-mail naar <a href="mailto:{{ COMPANY.email }}">{{ COMPANY.email }}</a> om een
                afspraak te maken.
            </p>
{% endcomment %}

        </div>
        <div>
            <iframe width="560" height="315" src="//www.youtube.com/embed/Lg-DhPYdQB8" frameborder="0" allowfullscreen></iframe>
        </div>
    </article>
{% endblock page-content %}

{% block page-right-column %}
    <div id="about-jeslee-right-column">
    </div>
{% endblock page-right-column %}