{% extends 'pages/lorum-ipsum-page.html' %}

{% block page-title %}
    Over Jeslee
{% endblock %}

{% block page-content %}

    <article>

    </article>

    <article>
        <h3>Hoe het allemaal begon</h3>
        <p>
            Op een dag (maart 2008) kwam mijn dochtertje naar mij toe met de vraag of ze een roze met gouden jurkje
            mocht hebben. We zijn samen naar de winkels gegaan om een jurkje uit te zoeken. We zijn heel wat winkels
            af geweest maar konden nergens een roze met gouden jurkje vinden. Toen zei ik tegen mijn dochtertje:
            '<em>weet je wat, mama gaat zelf een mooi jurkje voor jou maken</em>'.
        </p>

        <p>
        Ik had altijd gedacht: '<em>naaien dat is niks voor mij</em>'. Maar toen ik het eerste jurkje helemaal met
            de hand (naald en draad) had gemaakt zag ik hoe blij mijn dochter met haar jurk was. Dus kocht ik een
            tweedehands naaimachine en begon een nieuw jurkje voor een vriendinnetje van mijn dochter te maken en
            daarna nog één en nog één en na vier maanden had ik mijn eerste 8 jurkjes gemaakt.
        </p>

        <p>
            Ik was ondertussen zo enthousiast geworden dat ik besloot om op 21 mei 2009 een prinsessenjurkjes modeshow
            te gaan organiseren met zo'n 50 meisjes. De tweedehands naaimachine moest plaats maken voor een
            spiksplinter nieuwe en ook nog een  lockmachine. Ik ben helemaal teruggekomen op mijn eerdere gedachte
            dat naaien niets voor mij zou zijn en ben zelfs zo enthousiast geworden dat ik mijn eigen prinsessenjurkjes
            lijn en modeshow <strong>Jeslee</strong> begonnen ben.
        </p>

        <p>
            Zie hieronder een paar foto's van mijn allereerste jurkjes :-).
            <a href="http://picasaweb.google.com/jeslee.prinses/EersteJesLeeJurkjes?authkey=Gv1sRgCPf36bnx5obkhQE#">Eerste JesLee jurkjes</a>
        </p>
    </article>
{% endblock %}