{% extends 'base/site-base.html' %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'scss/css-generated/pages.css' %}"/>
{% endblock %}

{% block jeslee-content %}
    <div id="jeslee-page-content" class="{% block jeslee-content-class %}{% endblock %} ">
        <div class="{% block page-gird-class %}grid_8{% endblock %}">
            {% block page-title-div %}
            <div class="jeslee-page-header ">
                <h1>{% block page-title %}{% endblock %}</h1>
            </div>
            {% endblock %}
            <div class="page-content">
                {% block page-content %}
                {% endblock %}
            </div>
        </div>
        <div class="grid_4 right-column {% block right-column-class %}align-with-content{% endblock %}">
            {% block page-right-column %}
            {% endblock %}
        </div>
    </div>
    <div id="jeslee-page-footer">
        {% block page-footer %}{% endblock %}
    </div>
{% endblock %}