{% extends 'pages/lorum-ipsum-page.html' %}

{% block page-title %}
    Nieuws
{% endblock %}

{% block page-content %}
    <article>
        <p>
            <a href="http://jeugdjournaal.nl/item/35053-modeshow-voor-prinsessen.html"
               target="_blank"
               title="Modeshow Jeslee op jeugdjournaal 2009">
                Modeshow Jeslee op jeugdjournaal 2009
            </a>
        </p>
        <iframe width="550" height="309" src="http://nos.nl//embed/?id=v:35053" frameborder="0" scrolling="no"
                allowfullscreen></iframe>

    </article>

    <article>
        <p>
            Modeshow Mausel Noordbroek gefilmd door RTV Noord.
        </p>
        <object width="425" height="350" data="http://www.youtube.com/v/9G7ST08Fa6U&amp;fmt"
                type="application/x-shockwave-flash">
            <param name="src" value="http://www.youtube.com/v/9G7ST08Fa6U&amp;fmt">
        </object>
    </article>
{% endblock %}