{% extends 'pages/lorum-ipsum-page.html' %}

{% block page-title-div %}
{% endblock %}

{% block menu_news_class %}selected{% endblock %}

{% block page-content %}
    <div>
        <h1>Prinsessenjurkjes modeshow Fraeylemaborg</h1>
        <div class="subtitle">1 juni 2009</div>
        <div class="body">
            <p>Meisjes in de leeftijd van 3 t/m 15 jaar hebben hun prinsessenjurkje, op een sensationele manier, getoond
                in de Fraeylemaborg
                (<a title="fraeylemaborg" href="http://www.fraeylemaborg.nl" target="_blank">www.fraeylemaborg.nl</a>).
            </p>

            <p>Assepoester (Melissa) voerde een zeer fraai uitgevoerde klassiek ballet op voor de opening van onze
                modeshow, dit bracht het publiek in beroering en nieuwsgierig naar wat nog komen zal.</p>

            <p>De 53 deelnemertjes toonden met trots hun eigen ontworpen prinsessenjurkje aan het publiek. Op deze
                zonnige dag straalde de vreugde van de ouders tussen het in grootte getalen aanwezige publiek, bij het
                zien van hun betoverende dochter(s) op de catwalk. Sommige van de jongere toeschouwertjes konden hun
                nieuwsgierigheid niet bedwingen en stapten naar de catwalk toe om de stoffen van de prinsessenjurkjes
                aan te kunnen raken.</p>

            <p>Om een indruk van de modeshow te krijgen, kun je naar onderstaand filmpje kijken, gerealiseerd door het
                <a href="http://www.nos.nl/jeugdjournaal/artikelen/2009/6/2/modeshowvoorprinsessen.html">jeugdjournaal</a>.
                Een kleine rectificatie onze dochter heet niet Jissy maar Jessy <img
                        src="http://jeslee.nl/wp-includes/images/smilies/icon_smile.gif" alt=":-)" class="wp-smiley"> .
            </p>
            <iframe width="550" height="309" src="http://nos.nl//embed/?id=v:35053" frameborder="0" scrolling="no"
                    allowfullscreen></iframe>
        </div>

    </div>

    <div>
        <h1>Eerste modeshow groot succes</h1>
        <div class="subtitle">22 mei 2009</div>
        <div class="body">
            <div class="entry">
                <p>De eerste modeshow is achter de rug en we mogen zeggen dat het een fantastisch evenement is
                    geweest.</p>

                <p>Op deze dag kwam een droom uit voor 54 meisjes! Ze waren in de leeftijd van 4 tot 15 jaar en hebben
                    allemaal hun prinsessenjurk zelf bedacht. Ze lieten zich inspireren door sprookjes of door Europese
                    historische kostuums. Ze tekenden zelf het model en kozen vervolgens, uit het aantrekkelijke aanbod
                    van het atelier, zelf de stoffen uit. Wij hebben vervolgens de jurkjes gerealiseerd en zorgden ook
                    voor de bijpassende schoentjes en prachtige accessoires.</p>
                <address>We wilden de fantasie van de kinderen uit laten komen door hen de vrije hand te geven.
                </address>
                <p>Er is een filmpje gemaakt (met dank aan <a
                        href="http://www.rtvnoord.nl/nieuws/indexwm.asp?actie=totaalbericht&amp;pid=81889">RTV-noord</a>)
                    om een indruk te krijgen van wat er allemaal gebeurt is die dag.</p>

                <p>
                    <object width="425" height="350" data="http://www.youtube.com/v/9G7ST08Fa6U&amp;fmt"
                            type="application/x-shockwave-flash">
                        <param name="src" value="http://www.youtube.com/v/9G7ST08Fa6U&amp;fmt">
                    </object>
                </p>
                <p>Zie <a href="http://www.flickr.com/photos/oijnhausen/sets/72157618643864944/show/">hier</a> een mooie
                    slideshow van de modeshow.</p>
            </div>
        </div>
    </div>
{% endblock %}

