{% extends 'pages/base-page-text.html' %}

{% load static from staticfiles %}

{% block page-title %}
    Partners van Jeslee
{% endblock %}

{#{% block menu_about_class %}selected{% endblock %}#}

{% block page-content %}
    <div class="grid_4">
        {% include 'pages/snippets/partner-snippet.html' with name='WTC Expo, Leeuwarden' logo_img='gfx/logos/logo_WTC_Expo_220x33.jpg' url="http://www.wtcexpo.nl/" %}
    </div>
    <div class="grid_4">
        {% include 'pages/snippets/partner-snippet.html' with name='Bonte Wever, Assen' logo_img='gfx/logos/bontewever_210x128.png' url="http://www.debontewever.nl/" %}
    </div>
    <div class="grid_4">
        {% include 'pages/snippets/partner-snippet.html' with name='Bonte Wever, Assen' logo_img='gfx/logos/bontewever_210x128.png' url="http://www.debontewever.nl/" %}
    </div>
{% endblock %}