{% extends 'pages/base-page-text.html' %}

{% block menu_retail_class %}selected{% endblock %}

{% block page-title %}
    Vekooppunten Jeslee artikelen
{% endblock %}

{% block page-content %}
    <article>
        <p>
            Waar kunt u onze artikelen kopen ?
        </p>
        <p>
            Wilt u een of meerdere artikelen van Jeslee kopen, dan is dit vanaf <b>april</b> mogelijk
            via onze <a href="{% url 'winkel' %}">webshop</a>.<br/>
        </p>
    </article>

{% endblock page-content %}
