{% extends 'pages/base-page-text.html' %}
{% load static from staticfiles %}

{% block title %}Webwinkel {% endblock %}

{% block page-title %}
{% endblock %}

{% block menu_girls_class %}selected{% endblock %}
{% block menu_boys_class %}selected{% endblock %}

{% block page-grid-class %}{% endblock %}
{% block page-content %}
    <div class="page-uc">
        <div class="page-announcement-title">
            &ldquo;Ohh ... nee toch... de webwinkel is nog niet open?!<br/>
            Nog even wachten dus!!&rdquo;
        </div>
        <img src="{% static 'gfx/photos/no-webshop-350x431.jpg' %}"/>
        <p class="quote">
            &ldquo;We hopen onze webwinkel te openen eind juli 2014.&rdquo;
        </p>
    </div>
{% comment %}
    <p>
        Wilt u graag de kleding komen bekijken/kopen, neem dan <a href="{% url 'contact' %}">contact</a> met ons op.
    </p>
{% endcomment %}
{% endblock %}

