@import "settings";
@import "html_elements";
@import "functional";
@import "style";




#weslee-pixel {
  width: 1px;
  height: 1px;
  background-color: #ff00ff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

