@import "settings";

body {
    background-color: $background-color-site;
}

.main-menu {
  background-color: $background-color;
  .main-menu-item {
    display: inline-block;
    margin:10px;
    padding:10px;
    &:hover {
      background-color: $background-color-site;
      .main-menu-item-link {
        color: $background-color-dark;
      }
    }
    .main-menu-item-link {
      color: #FFFFFF;
    }
  }
}

.regular-form {
  margin: 20px;
  p {
    margin-top: 20px;
    label {
      display: inline-block;
      width: 150px;
    }
    input[type=text] {
      width: 339px;
    }
    select {
      width: 339px;
    }
  }
}