@import "settings";

body {
    background-color: $background-color-site;
}

.main-menu {
  background-color: $background-color;
  .main-menu-item {
    display: inline-block;
    margin:10px;
    padding:10px;
    &:hover {
      background-color: $background-color-site;
      .main-menu-item-link {
        color: $background-color-dark;
      }
    }
    .main-menu-item-link {
      color: #FFFFFF;
    }
  }
}

.regular-form {
  margin: 20px;
  p {
    margin-top: 20px;
    label {
      display: inline-block;
      width: 150px;
    }
    input[type=text] {
      width: 339px;
    }
    select {
      width: 339px;
    }
  }
}

.payment-list {
  tr {
    padding:5px;
    &:hover {
      td {
        background-color: #ff0f07;
      }
    }
    th {
      background-color: #FFC200;
      border:1px solid #3c3c3c;
      padding: 10px;
    }
    td {
      &:hover {
        background-color: #0006ff;
      }
      background-color: #FFD140;
      border:1px solid #4c4c4c;
      margin: 5px;
      padding: 10px;
    }
  }
}

.financial-summary {
  background-color: #FFD140;
  padding:20px;
  width:200px;
}

#weslee-pixel {
  width: 1px;
  height: 1px;
  background-color: #ff00ff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}