/***********************
 * MAIN
 **********************/
body {
    background-color: #c7ddf0;
}

.main-menu {
    background-color: #61a0c2;
}

.main-menu .main-menu-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.main-menu .main-menu-item:hover {
    background-color: #c7ddf0;
}

.main-menu .main-menu-item:hover .main-menu-item-link {
    color: #0066bb;
}

.main-menu .main-menu-item .main-menu-item-link {
    color: #FFFFFF;
}

.regular-form {
    margin: 20px;
}

.regular-form p {
    margin-top: 20px;
}

.regular-form p label {
    display: inline-block;
    width: 150px;
}

.regular-form p input[type=text] {
    width: 339px;
}

.regular-form p select {
    width: 339px;
}

.payment-list tr {
    padding: 5px;
}

.payment-list tr:hover td {
    background-color: #ff0f07;
}

.payment-list tr th {
    background-color: #FFC200;
    border: 1px solid #3c3c3c;
    padding: 10px;
}

.payment-list tr td {
    background-color: #FFD140;
    border: 1px solid #4c4c4c;
    margin: 5px;
    padding: 10px;
}

.payment-list tr td:hover {
    background-color: #0006ff;
}

.financial-summary {
    background-color: #FFD140;
    padding: 20px;
    width: 200px;
}

#weslee-pixel {
    width: 1px;
    height: 1px;
    background-color: #ff00ff;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/***********************
 * TABLES
 **********************/
.order-item-table {
    margin: 20px;
    padding: 0;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;

    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;

    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;

    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.order-item-table table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.order-item-table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.order-item-table table thead tr th {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.order-item-table table thead tr th:last-child {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.order-item-table thead tr th:first-child {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.order-item-table tr:hover td {

}

.order-item-table tr:nth-child(odd) {
    background-color: #aad4ff;
}

.order-item-table tr:nth-child(even) {
    background-color: #ffffff;
}

.order-item-table td, .order-item-table th {
    vertical-align: middle;

    border: 1px solid #000000;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: arial;
    font-weight: normal;
    color: #000000;
}

.order-item-table tr:last-child td, .order-item-table tr:last-child th {
    border-width: 0 1px 0 0;
}

.order-item-table tr td:last-child, .order-item-table tr th:last-child {
    border-width: 0 0 1px 0;
}

.order-item-table tr:last-child td:last-child, .order-item-table tr:last-child th:last-child {
    border-width: 0 0 0 0;
}

.order-item-table thead tr th {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #005fbf, 003 f7f);
    background-color: #005fbf;
    border: 0 solid #000000;
    text-align: center;
    border-width: 0 0 1px 1px;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    color: #ffffff;
}

.order-item-table thead tr:hover th {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #005fbf, 003 f7f);
    background-color: #005fbf;
}

.order-item-table thead tr th {
    border-width: 0 0 1px 0;
}

.order-item-table thead tr th:last-child {
    border-width: 0 0 1px 1px;
}