/***********************
 * COLORS
 **********************/
//$action-color: #64124D; // middel purple
//$action-color-border: #AD9D30; // dark golden
$dark-text-color: #000000; // black
$background-color: #61A0C2;
$background-color-dark: #0066bb;
$light-text-color: #FFFFFF; // white
$background-color-site:#C7DDF0; // light blue

/***********************
 * SIZES
 **********************/
$font-size-small: 8pt;
$font-size-normal: 11pt;
$font-size-strong: 14pt;
