@import "settings";

#cart-form {
  table.lfs-default {
    tr {
    }
    tr:last-child {
    }
    th {
    }
    td {
      vertical-align: middle;
      &.product-image {
        height: 140px;
        width:120px;
        .image-container {
          background-color: $background-color-site;
          margin: 0 auto;
          height:135px;
          width:104px;
        }
      }
      &.product-info {
        vertical-align:top;
        width:300px;
        .product-name {
          display: block;
          font-size: $font-size-strong;
          font-style: italic;
          height:20px;
          margin-bottom: 5px;
          text-decoration: none;
        }
        .product-name:hover {
          font-weight: bold;
          font-style: italic;
          font-size: $font-size-strong;

        }
        .product-sku-container {
          font-size: $font-size-small;
        }
      }
      &.product-price {
          width:60px;
      }
      &.total {
        float:right;
      }
    }
    td:first-child,
    td:last-child {
    }
  }
}