@import "settings";

#cart-form, #cart-inline {
  table.article-list {
    colgroup {
      .col-info {
      }
      .col-amount {
        width: 10%;
      }
      .col-total-price {
        width: 10%;
      }
    }
    tr {
    }
    tr:last-child {
    }
    th {
    }
    td {
      padding-top:20px;
      &.product-image {
        height: 140px;
        width:120px;
        .image-container {
          background-color: $background-color-site;
          margin: 0 auto;
          height:135px;
          width:104px;
        }
      }
      &.product-info {
        width:300px;
        .product-name {
          display: block;
          font-size: $font-size-strong;
          font-style: italic;
          height:20px;
          margin-bottom: 5px;
          text-decoration: none;
        }
        .product-name:hover {
          font-weight: bold;
          font-style: italic;
          font-size: $font-size-strong;

        }
        .product-sku-container {
          font-size: $font-size-small;
        }
      }
      &.product-price {

      }
      &.product-amount {
        input.cart-amount {
          margin-left: 14px;
          width:20px;
        }
      }
      &.product-total-price {
        float:right;
        margin-right: 20px;
      }
    }
    td:first-child,
    td:last-child {
    }
  }

  table.checkout-table {
    float: right;
    width:250px;
    th {

    }
    td {
      vertical-align: middle;
    }
  }
}

#checkout-form-container {
  .jeslee-form-container-header {
    .shipping-same-as-invoice {
      font-size: $font-size-small;
      label {
        width: auto;
      }
    }
  }
  #invoice-address-inline {
  }
  #shipping-address-inline {
    display: none;
  }
  .jeslee-form-container {
    .extra_info {
      display: none;
    }
    #shipping-inline {
    }
    #payment-inline {
    }
  }
  ul.address {
    li {
      &#form_invoice_line2, &#form_shipping_line2 {
        display: none;
      }
      label {
        width: auto;

      }
      .required {
        float: right;
      }
    }
  }
}