@import "settings";

/***********************
 * home
 **********************/
.product-cards-home {
  margin-top:10px;
  .product-card-home-container {
    height: 370px;

    .product-card-title {
      margin: 10px 20px;
    }
  }
}


.product-card-container {
  position: relative;
  &.no_stock, &.not_deliverable {
    .sold-out {
      display: block;
    }
    .product-card {
      background: rgba(57, 14, 65, 0.6);
    }
  }
  .sold-out {
    color: $alert-color;
    display: none;
    font-size:18pt;
    font-weight:bold;
    left: 40px;
    letter-spacing: 4px;
    position: absolute;
    -ms-transform: rotate(35deg); /* IE 9 */
    -webkit-transform: rotate(35deg); /* Chrome, Safari, Opera */
    transform: rotate(35deg);
    top:115px;
  }
  .product-card {
    background-color: $dark-text-color;
    color: $light-text-color;
    height: 312px;
    padding: 6px;
    margin: 0 0 20px 25px;
    width: 179px;

    img {
      display: block;
      margin: 0 auto;
    }
    a {
      color: $light-text-color;
      text-decoration: none;
    }

    .product-card-content {
      background-color: $background-color-site;
      color: $dark-text-color;
      height: 270px;
      overflow: hidden;

      a {
        color: $dark-text-color;
      }

      .product-card-text {
        padding: 20px;

        strong {
          display: block;
          margin-bottom: 15px;
        }
        p {
          margin: 10px 0;
          line-height: 1.1;
        }
        form {
          margin-top: 20px;

          input {
            margin: 10px 0;
            width: 100%;
          }
          input[type=submit] {
            background-color: $dark-text-color;
          }

        }
      }
    }
    .product-card-teaser {
      margin: 6px 14px 0 14px;
    }
  }
}
.product-card:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(235, 220, 120, 1);
  -moz-box-shadow: 0px 0px 15px 5px rgba(235, 220, 120, 1);
  box-shadow: 0px 0px 15px 5px rgba(235, 220, 120, 1);
}
