@import "settings";

#jeslee-page-content {
  &.text-page {
    article {
    }
  }

  article {
    margin-bottom: 20px;

    .subtitle {
      color: #777;
      font-size: 10pt;
      margin-top: -18px;
    }
  }

/***********************
* contact
**********************/
  .contact-info {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 40px;
    ul {
      li {
        span:first-child {
          width: 75px;
          display: inline-block;
        }
      }
    }
  }
  #routeplanner_form {
    margin: 15px 0;
    .form-input-row {
      padding: 5px 0;
    }

  }
  #map_canvas {
    height: 500px;
    width: 619px;
    margin-bottom: 30px;
  }
}

/***********************
* footer
**********************/
