@import "settings";

#jeslee-page-content {
  &.text-page {
    article {
    }
  }
  .right-column {
    &.align-with-content {
      padding-top: 71px;
    }
  }

  article {
    margin-bottom: 20px;

    .subtitle {
      color: #777;
      font-size: 10pt;
      margin-top: -18px;
    }
  }
}

/***********************
* fashion_show
**********************/
#fashion_show_agenda {
  background-color: $dark-background-color;
  display:table-cell;
  color:$background-color-site;
  padding:20px 0 20px 30px;
  width: 300px;

  h3 {
    color:$light-text-color;
    font-family: university_roman;
    font-size: 20pt;
    margin-bottom: 30px;
    text-align: center;
  }

  a {
    color:$background-color-site;
    text-decoration: none;
    &:hover, &.selected {
      color:$light-text-color;
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }

  }
  .fashion_show {
    border-bottom: 1px solid;
    height: 60px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    .fashion_show_start_time {
      display: inline-block;
      margin-top: 10px;
      vertical-align: top;
      width: 100px;
      .day {
        font-size: 24pt;
      }
      .month {
        font-size:18pt
      }
    }
    .fashion_show_location {
      display: inline-block;
      height: 60px;
      overflow: hidden;
      width: 195px;
    }
  }
}

#fashion-show-detail {
  .fashion-show-time {
//    background-color: $dark-text-color;
//    color:$light-text-color;
    float: left;
    font-size: 12pt;
    font-weight: bold;
    line-height: px;
    padding:5px 5px 5px 20px;
    width: 150px;
  }

  .company-logo {
    bottom: 0;
    float: right;
    right: 0;
  }
  .purple-banner.by-ticket {
    .purple-banner-content {
      color: #fff;
      font-size: 15pt;
      width: 118px;
    }

  }
}