@import "settings";

#shop-container {


  #shop-above-content {
    .product-navigation {
      float: right;
    }
    .navigation-button.previous-product {
      width: 54px;
    }
    .navigation-button.next-product {
      width: 70px;
    }
  }

  #product-form {
    .product-images {
      #product-impression-slide-show {
        position: relative;
        #product-impression-cycle-prev, #product-impression-cycle-next {
          background: $dark-background-color;
          display: block;
          height: 52px;
          position: absolute;
          top:206px;
          width: 28px;
          z-index: 110;
        }
        #product-impression-cycle-prev {
          left:10px;
          .cycle-left-triangle {
            display: inline-block;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 17px 15px 17px 0;
            border-color: transparent $light-text-color transparent transparent;
            margin-left: 6px;
            margin-top: 9px;
          }
        }
        #product-impression-cycle-next {
          right:10px;
          .cycle-right-triangle {
            display: inline-block;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 17px 0 17px 15px;
            border-color: transparent transparent transparent $light-text-color;
            margin-left: 7px;
            margin-top: 9px;
          }
        }
      }
      .large-image {
        border:1px solid $action-color;
        height: 584px;
        width: 460px;
      }
      .sub-images {
        padding:10px 0 10px 0;
        .sub-image.cycle-slide-active {
          border:1px solid $action-color;
        }
        .sub-image {
          display: inline-block;
          height: 100px;
          margin-right: 10px;
          width: 100px;
        }
      }

    }
    .order-info {
      background-color: $dark-background-color;
      color:$light-text-color;
      padding:30px 20px 20px 20px;

      .prices {
        .for-sale-price {
           font-size: $font-size-strong;
        }
        .product-price {
          margin-bottom: 20px;

        }
      }

      .size-and-order {
        #size-selector {
          width: 100%;
        }

      .add-to-cart-button {
        background: url('../../gfx/shopping-bag-small.png') no-repeat 5px center;
        border:none;
        color:$light-text-color;
        cursor: pointer;
        display: block;
        margin:10px auto 0 auto;
        padding: 17px 3px 3px 35px;
        width: 100px;
      }


      }

      .share-product {
        .save-product {
          margin-bottom: 15px;
        }
      }
      .separator {
        border-top:1px solid $light-background-color;
        margin: 20px -10px 20px -10px;
      }

    }
  }

}