/***********************
 * COLORS
 **********************/
$pink: #CA1E69;
$button-color: #8F3CA1;
$dark-text-color: #390e41; // purple
$dark-background-color: $dark-text-color;
$light-text-color: #EBDC78;
$light-background-color: $light-text-color;
$background-color-site:#EBE7EC;

$font-size-normal: 11pt;
$font-size-strong: 14pt;
