/***********************
 * COLORS
 **********************/
$pink: #CA1E69; // pink
$action-color: #64124D; // middel purple
$action-color-border: #AD9D30; // dark golden
$dark-text-color: #390e41; // dark purple
$dark-background-color: $dark-text-color;
$light-text-color: #EBDC78; // golden
$light-background-color: $light-text-color;
$background-color-site:#EBE7EC; // very light purple
$transparent-purple:#A38FA7;
$alert-color: #CA1E69; // pink
/***********************
 * SIZES
 **********************/
$font-size-small: 8pt;
$font-size-normal: 11pt;
$font-size-strong: 14pt;
