@import "settings";

#shop-container {

  //commen shop style classes
  .navigation-button-right {
    background-color: $action-color;
    color:$light-text-color;
    display: inline-block;
    padding:10px;
    margin:10px 15px 0 0;
    text-decoration: none;
    float: right;
    margin:10px 0 0 15px;
  }

  #checkout-form-container {
    margin-top: 20px;
  }

  #checkout-login-container {
    h2 {
      color:$light-text-color;
      margin-bottom: 20px;
      text-decoration: none;
    }
    form {
      margin-top: 20px;
      width:452px;
      label {
        width:300px;
      }
      .navigation-button, .navigation-button-right {
        font-size: $font-size-strong;
        width: 205px;
        margin-left: 244px;
        &.register-button {
          margin-top:35px;
        }
      }
    }
    .navigation-button.checkout-button {
      font-size: $font-size-strong;
      text-align: center;
      width: 205px;
    }
    a.checkout-button {
      background-color: $action-color;
      color:$light-text-color;
      display: inline-block;
      padding:10px;
      margin:10px 15px 0 0;
      text-decoration: none;
    }
  }

  #shop-above-content, #shop-below-content {
    height: 61px;

    .left-triangle {
      display: inline-block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 10px 5px 0;
      border-color: transparent $light-text-color transparent transparent;
    }

    .right-triangle {
      display: inline-block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent $light-text-color;
    }

    .category-name {
      float: left;
      font-size: 16pt;
      margin-top: 14px;
    }

    .sorting {
      float: right;

      select {
        background-color: $dark-text-color;
        border: none;
        color: $light-text-color;
        margin-top: 11px;
        padding: 5px;

        option {
          background-color: $dark-text-color;
        }
      }
    }
  }

  #category-menu {
    border: 6px solid $dark-text-color;
    padding: 10px;
    min-height: 292px;
    >ul.root {
      >li {
        >a {
          font-weight: bold;
          text-transform: uppercase;
        }
        li:first-child {
          margin-top: 2px;
        }
      }
    }
    li {
      margin-bottom: 2px;
      a {
        width: 180px;
        display: block;
        padding: 4px;
        text-decoration: none;

        .product-count {
          color: $pink;
        }
      }
      a.current {
        background-color: #BFAFC1;
      }
    }
    li.level-1 {
      margin-left:10px;
      a {
        width: 170px;
      }
    }
  }

  .for-sale-standard-price {
    text-decoration: line-through;
  }
}