@import "settings";

/***********************
 * main
 **********************/
@font-face {
  font-family: university_roman;
  src: url('../../fonts/UNIVERSI.TTF');
}
html {
  background: url('../../gfx/background/background-left.png') no-repeat scroll left top 185px transparent;
  color: $purple;
  font-family: university_roman;
  font-size: 11pt;
  height: auto;
}
body {
  background: url('../../gfx/background/background-right.png') no-repeat scroll right top 125px transparent;
  //min-height: 100%;
}
a {
  color:$purple;
}

/***********************
 * header
 **********************/
#jeslee-header {
  background: $purple url('../../gfx/background/header-bottom.png') no-repeat center bottom;
  height: 120px;
  margin-top: 60px;
  position: relative;
  width: 100%;

  .header-left-background {
    background: url("../../gfx/background/background-top-left.png") no-repeat scroll left top transparent;
    height: 144px;
    width: 90px;
    position: absolute;
    top: -62px;
    left: 0;
  }
  .header-content {
    margin: 0 auto;
    .jeslee-logo {
      float: left;
      margin-left:20px;
      //width: 215px;
    }
    #header-menu {
      float:right;
      margin-top:15px;
      ul {
        float: left;
        margin-top: 26px;
        li {
          border-right: 1px solid #FFF;
          color: #FFF;
          display: inline;
          padding: 0 10px;
        }
        li:last-child {
          border-right: none;
        }
      }
      a.link-shopping-bag {
        height: 59px;
        width: 36px;
      }
    }
  }
  #main-site-menu {
    background-color: #FFF;
    bottom: 1px;
    height: 40px;
    position: absolute;
    width: 100%;
    ul {
      margin: 10px auto 0 auto;
      li {
        border-right: 1px solid $purple;
        display: inline;
        padding: 0 20px;
      }
      li:last-child {
        border-right: none;
      }
    }
  }
  .header-right-background {
    background: url("../../gfx/background/background-top-right.png") no-repeat scroll right top transparent;
    height: 144px;
    width: 90px;
    position: absolute;
    top: -62px;
    right: 0;
  }
}

/***********************
 * body
 **********************/
#jeslee-body {
  margin:0 auto;
  min-height: 400px;
}

/***********************
 * footer
 **********************/
#jeslee-footer {
  min-height: 150px;
  widows: 100%;
  hr {
    background-color: $purple;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    border-bottom:1px solid $purple;
    padding-top: 10px;
  }
  .footer-menu {
    ul {
      color:#000;
      margin: 10px 10px 0 10px;
      li {
        display: inline;
        padding: 0 20px;
      }
    }

  }
}
