@import "settings";

/***********************
 * main
 **********************/
@font-face {
  font-family: university_roman;
  src: url('../../fonts/UNIVERSI.TTF');
}
html {
  background: url('../../gfx/background/background-left.png') no-repeat scroll left top 185px transparent;
  background-color: $background-color-site;
  //color: $dark-text-color;
  color: #000;
  font-family: university_roman;
  font-size: $font-size-normal;
  height: 100%;
  line-height: 16pt;
}
body {
  background: url('../../gfx/background/background-right.png') no-repeat scroll right top 125px transparent;
  //min-height: 100%;
}
a {
  color:$dark-text-color;
}
h1 {
  color: $dark-text-color;
  font-size: 18pt;
  margin: 30px 0 20px 0;
}
h2 {
  color: $dark-text-color;
  font-size: 15pt;
  margin-bottom:10px;
}
h3 {
  color: $dark-text-color;
  font-size: 13pt;
  margin-bottom:10px;
}
p {
  margin: 15px 0;
}
/***********************
 * generic classes
 **********************/
table.lfs-default {
  background: $dark-background-color;
  color:$light-text-color;
  width:100%;
  tr {
    border-bottom: 1px solid $light-background-color;
  }
  tr:last-child {
    border-bottom: none;
  }
  th {
    //border-right: 1px dotted $light-background-color;
    padding:10px;
  }
  td {
    //border-right: 1px dotted $light-background-color;
    padding: 5px;
  }
  td:last-child {
    border-right: none;
  }
  a {
    color:$light-text-color;
  }
}

.jeslee-form-container {
  .jeslee-form-container-header {
    font-size: $font-size-strong;
    margin-bottom: 20px;
  }
  a {
    color:$light-text-color;
  }
  background: $dark-background-color;
  color:$light-text-color;
  margin-bottom: 20px;
  padding: 20px;
  ul {
    li {
      .label {
        display: inline-block;
        height: 45px;
        width: 50%;
      }
      input {
        display: inline-block;
        float: right;
        width: 200px;
      }
      select {
        float: right;
        width: 204px;
      }
    }
  }
}

.errorlist {
  color: #F84637;
}
/***********************
 * header
 **********************/
#jeslee-header {
  background: $dark-background-color url('../../gfx/background/header-bottom.png') no-repeat center bottom;
  height: 120px;
  margin-top: 60px;
  position: relative;
  width: 100%;

  .header-left-background {
    background: url("../../gfx/background/background-top-left.png") no-repeat scroll left top transparent;
    height: 144px;
    width: 90px;
    position: absolute;
    top: -62px;
    left: 0;
  }
  .header-content {
    margin: 0 auto;
    .jeslee-logo {
      float: left;
      margin-left:20px;
      //width: 215px;
    }
    #header-menu {
      float:right;
      margin-top:15px;
      ul {
        float: left;
        margin-top: 26px;
        li {
          display: inline;
          a {
            border-right: 1px solid #FFF;
            color: $light-text-color;
            padding: 0 10px;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        li:last-child {
          border-right: none;
        }
      }
      a.link-shopping-bag {
        height: 59px;
        width: 36px;
      }
    }
  }
  #main-site-menu {
    background-color: $background-color-site;
    bottom: 1px;
    height: 40px;
    position: absolute;
    width: 100%;
    ul {
      margin: 10px auto 0 auto;
      li {
        //border-right: 1px solid $dark-text-color;
        display: inline;
        a {
          padding: 12px 20px;
          text-decoration: none;
        }
        a:hover, a.selected {
          background-color: $dark-background-color;
          //border-bottom-left-radius: 15px;
          //border-bottom-right-radius: 15px;
          color: $light-text-color;
        }
      }
      li:last-child {
        border-right: none;
      }
    }
  }
  .header-right-background {
    background: url("../../gfx/background/background-top-right.png") no-repeat scroll right top transparent;
    height: 144px;
    width: 90px;
    position: absolute;
    top: -62px;
    right: 0;
  }
}

/***********************
 * body
 **********************/
#jeslee-body {
  margin:0 auto;
  min-height: 400px;
}

/***********************
 * footer
 **********************/
#jeslee-footer {
  min-height: 150px;
  widows: 100%;
  hr {
    background-color: $dark-text-color;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    border-bottom:1px solid $dark-text-color;
    padding-top: 10px;
  }
  #footer-menu {
    ul {
      color:#000;
      margin: 10px 10px 0 10px;
      li {
        display: inline;
        padding: 0 20px;
      }
    }

  }
}

/***********************
 * banners and planes
 **********************/
.purple-banner {
  background-color: #390e41;
  display: block;
  padding: 20px;
  margin: 20px;
  border-radius: 19px;
  border: 5px solid $light-text-color;
}
.purple-banner:hover {
  border: 10px solid $light-text-color;
  margin:15px;
}
.purple-banner-header {
  color: $light-text-color;
  font-size: 18pt;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.purple-banner-content {
  color:#fff;
}

.white-plane {
  background-color: #fff;
  display: block;
  padding: 20px;
  margin: 20px;
  border: 5px solid $light-text-color;
}

/***********************
 * utility
 **********************/
a.disabled {
  cursor: default!important;
  color:#000!important;
  text-decoration: line-through!important;
}
.prevent-collapsing {
  height: 0;
  overflow: hidden;
  width: 0;
}
.todo {
  background-color: #ffff00;
  border:5px solid #ff00ff;
}

