
/***********************
 * utility
 **********************/
a.disabled {
  cursor: default !important;
  color: #000 !important;
  text-decoration: line-through !important;
}

.prevent-collapsing {
  height: 0;
  overflow: hidden;
  width: 0;
}
.quote {
  font-style: italic;
}
.todo {
  background-color: #ffff00;
  border: 5px solid #ff00ff;
}

.page-announcement-title {
  color: $dark-text-color;
  font-size: 18pt;
  font-style: italic;
  line-height: 26pt;
  text-align: center;
}
.page-announcement {
  color: $dark-text-color;
  font-size: 14pt;
  font-style: italic;
  line-height: 26pt;
  text-align: center;
}
.alert-message {
  background-color: $alert-color;
  border: solid 5px $dark-text-color;
  color: $dark-text-color;
  font-size: 14pt;
  font-style: italic;
  font-weight:bold;
  line-height: 26pt;
  text-align: center;
}