{% extends 'pages_free/base-free-page.html' %}

{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'js/jquery/jquery.magnific.popup.1.0.0.css' %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <!-- Magnific Popup core JS file -->
    <script src="{% static 'js/jquery/jquery.magnific.popup.1.0.0_inline_image_fasttap.js' %}"></script>
    <script src="{% static 'js/utils/image_popup.js' %}"></script>
    {% if editable %}
        <script src="{% static 'js/pages_free/measure_explanation_editable.js' %}"></script>
    {% endif %}
{% endblock %}

{% block title %}Over {% endblock %}

{% block page-title %}
    Maten nemen
{% endblock %}

{% block page-content %}

    <div id="generated_measure_url_container" class="grid_12" style="display:none;" >
        <span id="generated_measure_url" data-measure-url="{% url 'taking_measures_url' %}"></span>
    </div>
    <div class="container_12 ">
        <div class="how_to_use">
            <p>
                Zo kunt u de maten opnemen en aan ons doorgeven.
            </p>
        </div>

        {% for key, measure in measures.items %}
        <div class="grid_5">
            <div class="measure_explanation" data-measure-id="{{ key }}">
                <div class="measure_title" >
                    <h3>{{ measure.title }}</h3>
                    <div class="explanation_text">
                        {{ measure.explanation_text }}
                    </div>
                </div>
                <div class="measure_image">
                    <a class="image-popup-fit-width" href="{{ measure.image }}" title="{{ measure.title }}">
                        <img src="{{ measure.thumb }}" title="{{ measure.title }}" alt="{{ measure.title }}"/>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
