<html>
<head>

</head>
<body>
Beste {{ registration.name }},<br/>
<br/>
<p>
{% with show=registration.fashion_show %}
    Bedankt voor je inschrijving als model bij het modeshowspektakel van {{ show.start_time|date:"l" }}
    {{ show.start_time|date:"d" }} {{ show.start_time|date:"b" }} {{ show.start_time|date:"Y" }} in
    {{ show.location.name }} te {{ show.location.city }}!
{% endwith %}
</p>

<p>
    Binnen alle leeftijdscategorie&euml;n is er per locatie een beperkt aantal plaatsen beschikbaar.
    Binnenkort hoor je per mail van ons of jij een plek op de lijst hebt gekregen.
    Als je op de lijst staat ontvang je tevens alle benodigde details.
</p>

<p>
    Tot gauw, <br/>
    Team Jeslee & Yasmine van Wieringen<br/>
</p>
{% comment %}
<!--
<p>
De bij ons bekende gegevens:
</p>
<table style="border: none;">
    <tbody>
        <tr>
            <td>naam:</td><td>{{ name }}</td>
        </tr>
        <tr>
            <td>leeftijd:</td><td>{{ age }}</td>
        </tr>
        <tr>
            <td>maat:</td><td>{{ size }}</td>
        </tr>
        <tr>
            <td>e-mail:</td><td>{{ email }}</td>
        </tr>
        <tr>
            <td>modeshow:</td><td>{{ fashion_show }}</td>
        </tr>
    </tbody>
</table>
-->
{% endcomment %}

</body>
</html>
