{% load i18n %}
<span class="product-navigation">
    {% if display %}
        {% if previous %}
            <a href="{% url 'lfs_product' previous %}" class="navigation-button previous-product"><span class="left-triangle"></span> {% trans 'previous' %}</a>
        {% else %}
            <span class="navigation-button">{% trans 'previous' %}</span>
        {% endif %}
        - {{ current }} {% trans 'of' %} {{ total }} -
        {% if next %}
            <a href="{% url 'lfs_product' next %}" class="navigation-button next-product">{% trans 'next' %} <span class="right-triangle"></span></a>
        {% else %}
            <span class="navigation-button">{% trans 'next' %}</span>
        {% endif %}
    {% endif %}
</span>