{% load i18n %}
<span class="product-navigation">
    {% if display %}
        {% if previous %}
            <a href="{% url 'lfs_product' previous %}" class="navigation-button"><span class="left-triangle"></span> {% trans 'Previous product' %}</a>
        {% else %}
            <span class="navigation-button">{% trans 'Previous product' %}</span>
        {% endif %}
        - {{ current }} {% trans 'of' %} {{ total }} -
        {% if next %}
            <a href="{% url 'lfs_product' next %}" class="navigation-button">{% trans 'Next product' %} <span class="right-triangle"></span></a>
        {% else %}
            <span class="navigation-button">{% trans 'Next product' %}</span>
        {% endif %}
    {% endif %}
</span>