lfs.db
.installed.cfg
.idea/
*.log
*.pot
*.pyc
*.pyo
*.DS_Store
*develop-eggs/
*.egg-info/
*eggs/
*parts/
*bin/
*downloads/
*sitestatic/
*media/
*build/
*dist
jeslee_web/static/.sass-cache
testing
jeslee_web/static/js/tmp/
.sass-cache