{% extends 'bookkeeping/transactions/transaction-base.html' %}

{% block page-content %}

    <h2>Overzicht betalingen</h2>

    <div class="payment-filter">
        <form action="" method="get">
            <select name="category">
                    <option value="-1">Kies een categorie</option>
                {% for category in categories %}
                    <option value="{{ category.id }}"
                            {% if category == selected_category %}selected="selected"{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <select name="client">
                    <option value="-1">Kies een klant</option>
                {% for client in clients %}
                    <option value="{{ client.id }}"
                            {% if client == selected_client %}selected="selected"{% endif %}>{{ client.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter bonnetjes</button>
        </form>
    </div>

    <div class="payment-list-container">
        <a href="#" onclick="$('.show_on_click').toggle(); return false;">toon kwartalen</a>
        <table class="payment-table">
            <thead>
                <tr>
                    <th>periode</th>
                    <th>betaald</th>
                    <th>btw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Totaal</td>
                    <td>€ {{ payments.total|floatformat:"2" }}</td>
                    <td>€ {{ payments.total_tax|floatformat:"2" }}</td>
                </tr>
            </tbody>
            <tbody class="show_on_click">
                <tr>
                    <td>kwartaal 1 (jan, feb, mrt)</td>
                    <td>€ {{ payments.q1_total|floatformat:"2" }}</td>
                    <td>€ {{ payments.q1_total_tax|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>kwartaal 2 (apr, mei, jun)</td>
                    <td>€ {{ payments.q2_total|floatformat:"2" }}</td>
                    <td>€ {{ payments.q2_total_tax|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>kwartaal 3 (jul, aug, sep)</td>
                    <td>€ {{ payments.q3_total|floatformat:"2" }}</td>
                    <td>€ {{ payments.q3_total_tax|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>kwartaal 4 (okt, nov, dec)</td>
                    <td>€ {{ payments.q4_total|floatformat:"2" }}</td>
                    <td>€ {{ payments.q4_total_tax|floatformat:"2" }}</td>
            </tbody>
        </table>

        <table class="payment-table" >
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <a href="?year={{ request.financial_year }}&ob={% if payments.ordered_by == 'pay_date' %}-{% endif %}pay_date">datum</a>
                    </th>
                    <th>
                        <a href="?year={{ request.financial_year }}&ob={% if payments.ordered_by == 'client' %}-{% endif %}client">klant</a>
                    </th>
                    <th>
                        <a href="?year={{ request.financial_year }}&ob={% if payments.ordered_by == 'category' %}-{% endif %}category">categorie</a>
                    </th>
                    <th>
                        bedrag
                    </th>
                    <th>
                        belasting
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments.list %}
                    <tr>
                        <td>
                            <a href="{% url 'update_payment' payment.id %}"><img src="{{ STATIC_URL }}icons/pencil.png"/></a>
                        </td>
                        <td>{{ payment.pay_date }}</td>
                        <td>{{ payment.client }}</td>
                        <td>{{ payment.category }}</td>
                        <td>€ {{ payment.amount|floatformat:"2" }}</td>
                        <td>€ {{ payment.tax|floatformat:"2" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% with paginator=payments.list %}
            {% include 'bookkeeping/includes/snippet-pagination.html' %}
        {% endwith %}
    </div>
{% endblock %}
