{% extends 'bookkeeping/bookkeeping-base.html' %}
{% block submenu %}
    <ul class="main-menu">
        <li class="main-menu-item">
            <a href="{% url 'transaction_home' %}" class="main-menu-item-link">Overzicht</a>
        </li>
        <li class="main-menu-item">
            <a href="{% url 'new_payment' %}" class="main-menu-item-link">Nieuw bonnetje</a>
        </li>
        <li class="main-menu-item">
            <a href="{% url 'new_client' %}" class="main-menu-item-link">Nieuwe klant</a>
        </li>
        <li class="main-menu-item">
            <a href="{% url 'new_category' %}" class="main-menu-item-link">Nieuwe category</a>
        </li>
    </ul>

{% endblock %}
