<div id="invoice-address-inline">
	<ul class="address">
            <li id="form_invoice_firstname">
                <div class="label">
                    {{ form.invoice_firstname.label_tag }}<span class="required">*</span>:
                    {{ form.invoice_firstname.errors }}
                </div>
                {{ form.invoice_firstname }}
            </li>
            <li id="form_invoice_lastname">
                <div class="label">
                    {{ form.invoice_lastname.label_tag }}<span class="required">*</span>:
                    {{ form.invoice_lastname.errors }}
                </div>
                {{ form.invoice_lastname }}
            </li>
{% comment %}
            <li>
                {{ form.invoice_company_name.label_tag }}{% if settings.LFS_INVOICE_COMPANY_NAME_REQUIRED %}<span class="required">*</span>{% endif %}:
                {{ form.invoice_company_name.errors }}
                {{ form.invoice_company_name }}
            </li>
{% endcomment %}

        {% for field in address_form %}
            <li id="form_invoice_{{ field.name }}" >
                <div class="label">
                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}:
                    {{ field.errors }}
                </div>
                {{ field }}
            </li>
        {% endfor %}
		{% if request.user.is_anonymous %}
		    <li>
                <div class="label">
                    {{ form.invoice_email.label_tag }}{% if settings.LFS_INVOICE_EMAIL_REQUIRED %}<span class="required">*</span>{% endif %}:
                    {{ form.invoice_email.errors }}
                </div>
                {{ form.invoice_email }}
		    </li>
	    {% endif %}
	    {% if form.invoice_phone %}
		    <li>
                <div class="label">
                    {{ form.invoice_phone.label_tag }}{% if settings.LFS_INVOICE_PHONE_REQUIRED %}<span class="required">*</span>{% endif %}:
                    {{ form.invoice_phone.errors }}
                </div>
                {{ form.invoice_phone }}
		    </li>
	    {% endif %}
	</ul>
</div>
