<div id="shipping-address-inline">
    <ul class="address">
        <li id="form_shipping_firstname">
            <div class="label">
                {{ form.shipping_firstname.label_tag }}<span class="required">*</span>:
                {{ form.shipping_firstname.errors }}
            </div>
            {{ form.shipping_firstname }}
        </li>
        <li id="form_shipping_lastname">
            <div class="label">
                {{ form.shipping_lastname.label_tag }}<span class="required">*</span>:
                {{ form.shipping_lastname.errors }}
            </div>
            {{ form.shipping_lastname }}
        </li>
{% comment %}
        <li>
            <div class="label">
                {{ form.shipping_company_name.label_tag }}{% if settings.LFS_INVOICE_COMPANY_NAME_REQUIRED %}*{% endif %}:
                {{ form.shipping_company_name.errors }}
                {{ form.shipping_company_name }}
            </div>
        </li>
{% endcomment %}
        {% for field in address_form %}
            <li id="form_shipping_{{ field.name }}">
                <div class="label">
                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}:
                    {{ field.errors }}
                </div>
                {{ field }}
            </li>
        {% endfor %}
        {% if request.user.is_anonymous %}
           <li>
               <div class="label">
                    {{ form.shipping_email.label_tag }}{% if settings.LFS_SHIPPING_EMAIL_REQUIRED %}<span class="required">*</span>{% endif %}:
                    {{ form.shipping_email.errors }}
               </div>
                {{ form.shipping_email }}
           </li>
       {% endif %}
       {% if form.shipping_phone %}
            <li>
                <div class="label">
                    {{ form.shipping_phone.label_tag }}{% if settings.LFS_SHIPPING_PHONE_REQUIRED %}<span class="required">*</span>{% endif %}:
                    {{ form.shipping_phone.errors }}
                </div>
                {{ form.shipping_phone }}
            </li>
       {% endif %}
    </ul>
</div>
