{% extends 'pages/base-page-text.html' %}

{% block title %}Bedrijfsinformatie {% endblock %}

{% block page-title %}
    Bedrijfsinformatie
{% endblock %}

{% block page-content %}
    <table class="definition-list">
        <tr>
            <td class="definition-key">Handelsnaam:</td>
            <td class="definition-value">Jeslee</td>
        </tr>
        <tr>
            <td class="definition-key">KVK nummer:</td>
            <td class="definition-value">01131652</td>
        </tr>
        <tr>
            <td class="definition-key">Adres:</td>
            <td class="definition-value">
                Hoofdstraat 51 <br/>
                9635 AT Noordbroek<br/>
                Nederland
            </td>
        </tr>
        <tr>
            <td class="definition-key">E-mail:</td>
            <td class="definition-value"><a href="mailto:info@jeslee.com?subject=contact">info@jeslee.com</a></td>
        </tr>
        <tr>
            <td class="definition-key">Telefoon:</td>
            <td class="definition-value">0598 - 45 09 60</td>
        </tr>
        <tr>
            <td class="definition-key">Mobiel:</td>
            <td class="definition-value">06 - 15 94 80 90</td>
        </tr>
    </table>
{% endblock %}
