{% extends 'pages/base-page-text.html' %}

{% block title %}Bedrijfsinformatie {% endblock %}

{% block page-title %}
    Bedrijfsinformatie
{% endblock %}

{% block page-content %}
    <table class="definition-list">
        <tr>
            <td class="definition-key">Handelsnaam:</td>
            <td class="definition-value">Jeslee</td>
        </tr>
        <tr>
            <td class="definition-key">KVK nummer:</td>
            <td class="definition-value">{{ COMPANY.kvk_nr }}</td>
        </tr>
        <tr>
            <td class="definition-key">BTW nummer:</td>
            <td class="definition-value">{{ COMPANY.btw_nr }}</td>
        </tr>
        <tr>
            <td class="definition-key">Adres:</td>
            <td class="definition-value">
                {{ COMPANY.street }}<br/>
                {{ COMPANY.zip }} {{ COMPANY.city }}<br/>
                {{ COMPANY.country|upper }}
            </td>
        </tr>
        <tr>
            <td class="definition-key">E-mail:</td>
            <td class="definition-value"><a href="mailto:{{ COMPANY.email }}?subject=contact">{{ COMPANY.email }}</a></td>
        </tr>
        <tr>
            <td class="definition-key">Telefoon:</td>
            <td class="definition-value">{{ COMPANY.mobile }}</td>
        </tr>
    </table>
{% endblock %}
