{% extends 'pages/base-page-text.html' %}

{% block title %}Onderhoud kleding {% endblock %}

{% block page-title %}
    Onderhoudstips voor onze kleding
{% endblock %}

{% block page-content %}
    <article>
        <p>
            Als u de jurk in goede staat wilt houden dan adviseren wij u om hem op te hangen in plaats van op te
            vouwen, zo blijft hij gespaard van kreuken.
        </p>
        <p>
            Als de jurk vies is kunt u hem met de hand wassen,  gebruik hierbij een zacht wasmiddel.  Doe de jurk
            niet in de droger maar laat hem drogen op een kledinghanger.
        </p>
        <p>
            Wilt u de jurk stijken, strijk dan op lage temperatuur en vermijd direct contact van het ijzer met de
            stof (de synthetische stof zou anders aan het ijzer kunnen kleven). Gebruik een katoenen doek tussen
            het ijzer en de stof.
        </p>
        <p>
            Als u bovenstaande tips opvolgt heeft u gegarandeerd lang plezier van uw aankoop.
        </p>

        <div>
            Team Jeslee
        </div>
    </article>
{% endblock %}
