{% extends 'pages/base-page-text.html' %}

{% block title %}Privacy {% endblock %}

{% block page-title %}
    Privacy
{% endblock %}

{% block page-content %}
    <p>
        Jeslee respecteert de privacy van alle gebruikers van haar site en draagt
        er zorg voor dat de persoonlijke informatie die u ons verschaft
        vertrouwelijk wordt behandeld. Wij gebruiken uw gegevens om de bestellingen
        zo snel en gemakkelijk mogelijk te laten verlopen. Voor het overige zullen
        wij deze gegevens uitsluitend gebruiken met uw toestemming. Jeslee zal uw
        persoonlijke gegevens niet aan derden verkopen en zal deze uitsluitend aan
        derden ter beschikking stellen die zijn betrokken bij het uitvoeren van uw
        bestelling.
    </p>

    <p>
        Jeslee gebruikt de verzamelde gegevens om haar klanten de volgende diensten
        te leveren:<br/>
        Als u een bestelling plaatst, hebben we uw naam, e-mailadres, afleveradres
        en betaalgegevens nodig om uw bestelling uit te voeren en u van het verloop
        daarvan op de hoogte te houden.<br/>
        Om het winkelen bij Jeslee zo aangenaam mogelijk te laten zijn, slaan wij
        met uw toestemming uw persoonlijke gegevens en de gegevens met betrekking
        tot uw bestelling en het gebruik van onze diensten op.<br/>
        Wij gebruiken uw e-mailadres om u te informeren over de ontwikkeling van de
        website en over speciale aanbiedingen en acties. Als u hier niet langer
        prijs op stelt, kunt u zich uitschrijven op onze website.
    </p>
    <p>
        Als u bij Jeslee een bestelling plaatst bewaren wij, indien gewenst, uw
        gegevens op een Secure Server. U kunt een gebruikersnaam en wachtwoord
        opgeven zodat uw naam en adres, telefoonnummer, e-mailadres, aflever- en
        betaalgegevens, zodat u deze niet bij iedere nieuwe bestelling hoeft in te
        vullen.<br/>
        Gegevens over het gebruik van onze site en de feedback die we krijgen van
        onze bezoekers helpen ons om onze site verder te ontwikkelen en te
        verbeteren.<br/>
        Als u besluit een recensie te schrijven, kunt u zelf kiezen of u uw naam of
        andere persoonlijke gegevens toevoegt. We zijn benieuwd naar de meningen
        van onze bezoekers, maar behouden het recht bijdragen die niet aan onze
        sitevoorwaarden voldoen niet te publiceren.
        Als u reageert op een actie of prijsvraag, vragen wij uw naam, adres en
        e-mailadres. Deze gegevens gebruiken we om de actie uit te voeren, de
        prijswinnaar(s) bekend te maken, en de respons op onze marketingacties te
        meten.<br/>
        Jeslee verkoopt uw gegevens niet<br/>
        Jeslee zal uw persoonlijke gegevens niet aan derden verkopen en zal deze
        uitsluitend aan derden ter beschikking stellen die zijn betrokken bij het
        uitvoeren van uw bestelling. Onze werknemers en door ons ingeschakelde
        derden zijn verplicht om de vertrouwelijkheid van uw gegevens te
        respecteren.
    </p>
    <p>
        Cookies<br/>
        Cookies zijn kleine stukjes informatie die door uw browser worden
        opgeslagen op uw computer. Jeslee gebruikt cookies om u te herkennen bij
        een volgend bezoek. Cookies stellen ons in staat om informatie te
        verzamelen over het gebruik van onze diensten en deze te verbeteren en aan
        te passen aan de wensen van onze bezoekers. Onze cookies geven informatie
        met betrekking tot persoonsidentificatie. U kunt uw browser zo instellen
        dat u tijdens het winkelen bij Jeslee geen cookies ontvangt.
    </p>
    <p>

        Indien u nog vragen mocht hebben over de Privacy Policy van Jeslee, dan
        kunt u contact met ons opnemen. Onze klantenservice helpt u verder als u
        informatie nodig heeft over uw gegevens of als u deze wilt wijzigen. In
        geval wijziging van onze Privacy Policy nodig mocht zijn, dan vindt u op
        deze pagina altijd de meest recente informatie.
    </p>
{% endblock %}
