{% extends 'pages/base-page-text.html' %}

{% block title %}Over {% endblock %}

{% block page-title %}
    Hoe kan ik retourneren?
{% endblock %}

{% block page-content %}
    <p>
        Binnen 30 dagen na aankoop, stuur je een email naar Jeslee
        (<a href="mailto:info@jeslee.com?subject=Ik wil graag mijn artikelen retourneren.">info@jeslee.com</a>)
        met het ordernummer en de besteldatum en vermeld je waarom je het artikel wil ruilen of retourneren.
    </p>
    <p>
        Wij geven antwoord op je mail binnen 2 à 3 werkdagen.
    </p>

    <h3>Hoe stuur je het artikel terug ?</h3>
    <p>
        Als je een akkoord hebt ontvangen van Jeslee om het artikel terug te sturen
        kan dit naar volgend adres:
        <div class="push_1">
            Hoofdstraat 51<br/>
            9635 AT Noordbroek<br/>
            Nederland<br/>
        </div>
    </p>
    <p>
        Je ontvangt eerst een akkoord van ons per mail om te ruilen of te
        retourneren, stuur het pakket a.u.b NIET terug vooraleer je de mail van ons
        hebt ontvangen
    </p>
    <p>
        Het pakket moet voldoende gefrankeerd zijn (verzendkosten voor het
        retourpakket betaalt Jeslee als de fout door Jeslee is gebeurd, anders
        betaalt u deze zelf ).
    </p>
    <p>
        Let er op dat het artikel niet gebruikt, onbeschadigd en ongewassen is.
    </p>
    <p>
        Indien mogelijk graag in de originele verpakking terugsturen.
    </p>

    <h3>Vervolg :</h3>
    <p>
        Zodra Jeslee het retourpakket ontvangen heeft, krijgt u een bericht.
    </p>
    <p>
        Wij storten het aankoopbedrag + de eventuele verzendingkosten binnen 3
        werkdagen terug op de rekening waarmee de betaling van het artikel werd
        gedaan.
    </p>
    <p>
        U kunt ook kiezen om te ruilen: dan sturen we het nieuwe artikel naar u
        toe en verrekenen we de kosten.
    </p>
    <p>
        Wij doen nergens moeilijk over en doen alles wat we kunnen om onze klanten
        zoveel mogelijk tevreden te houden. Wij hopen dan ook dat u als klant
        eerlijk bent tegen ons en dat u zich aan de voorwaarden en afspraken houdt.
    </p>

{% endblock %}
