{% extends 'pages/base-page-text.html' %}

{% block title %}Veilig betalen {% endblock %}

{% block page-title %}
    Veilig betalen
{% endblock %}

{% block page-content %}
    <p>
        Als u een of meerdere produkten van Jeslee online wilt kopen betaalt u dan via IDEAL,
        de veiligste online betalingsmethode van Nederlend.<br/>
        Of wilt u liever overmaken via Internet Bankieren, dan zijn dit onze gegevens
    </p>

    <table class="definition-list">
        <tr>
            <td class="definition-key">Rekeningnummer ING</td>
            <td class="definition-value">657750476</td>
        </tr>
        <tr>
            <td class="definition-key">Iban</td>
            <td class="definition-value">NL51 INGB 0657 7504 76</td>
        </tr>
        <tr>
            <td class="definition-key">Bic</td>
            <td class="definition-value">INGBNL2A</td>
        </tr>
        <tr>
            <td class="definition-key">T.N.V.</td>
            <td class="definition-value">Y. van Wieringen</td>
        </tr>
    </table>
{% endblock %}
