{% extends 'pages/base-page-text.html' %}

{% block title %}Algemene Voorwaarden {% endblock %}

{% block page-title %}
    Algemene Voorwaarden
{% endblock %}

{% block page-content %}
    <div id="conditions-page">
        <p>
            De onderstaande voorwaarden zijn van toepassing, zodra de koper een bestelling bij Jeslee plaatst. Zodra de
            koper de bestelling bevestigt, geeft hij ook aan akkoord te gaan met deze Algemene Voorwaarden.
        </p>

        <h3>Betaling</h3>
        <p>
            Betaling dient voorafgaand van levering te geschieden d.m.v. betaling met
            iDEAL<sup><a href="#fn1" id="ref1">1</a></sup> of contant indien de
            bestelling afgehaald word bij Jeslee. Of u kunt kiezen voor vooraf overmaken. U ontvangt dan via e-mail een
            bevestiging en een factuur van uw bestelling met de overmakings gegevens. Bij een bestelling dient u altijd
            vooraf te betalen. De betaling kan via de bank. Uw factuur/order nr. vult u deze a.u.b. in bij uw
            overschrijving. Het pakje wordt de dag van bijschrijving verzonden.<br/>
            U heeft 2 dagen de tijd om uw bestelling te betalen.
        </p>

        <h3>Prijzen / Verzenden</h3>
        <p>
            Alle, op onze website vernoemde prijzen, zijn inclusief 21% BTW en excl. verzendkosten en gelden zolang de
            voorraad strekt.
        </p>
        <dl>
            <dt><dfn>Brievenbus post:</dfn></dt>
            <dd>
                dit zijn alle pakketjes die door de brievenbus passen, tegen een vast tarief van €&nbsp;2,95.
            </dd>
            <dt><dfn>Pakketpost:</dfn></dt>
            <dd>
                hier vallen alle pakketjes onder die niet door de brievenbus passen, t/m&nbsp;10&nbsp;kg is €&nbsp;6,75 euro
                (Binnen Nederland)<sup><a href="#fn2" id="ref2">2</a></sup>
            </dd>
        </dl>
        <p>
            De bestellingen worden de eerstvolgende werkdag (uiterlijk na 48 uur ) na betaling naar het postkantoor
            gebracht. Alle pakketjes worden door de PostNL bij u thuisbezorgd. Jeslee is niet aansprakelijk voor
            vertragingen van de zending opgelopen bij PostNL, tevens is  Jeslee niet aansprakelijk voor het onzorgvuldig
            behandelen van de zending door PostNL.
        </p>
        <p>
            Het is ook mogelijk de bestelling op afspraak af te halen bij Jeslee.<br/>
            Prijswijzigingen, typefouten en het (tijdelijk) niet leverbaar zijn van een artikel zijn voorbehouden.<br/>
            Prijswijzigingen bij derden (o.a. verzendkosten) worden per ingangsdatum doorberekend. Deze prijswijzigingen
            worden op de website bekend gemaakt, zodra deze bekend zijn bij Jeslee .
        </p>

        <h3>Afhalen</h3>
        <p>
            Het is mogelijk een bestelling op afspraak af te komen halen. U kunt het dan passen en nakijken.
        </p>

        <h3>Retourneren / ruilen van onze produkten</h3>
        <p>
            Verzendkosten voor artikelen die retour worden gestuurd of worden geruild komen ten laste van de klant ,
            dit met uitzondering van artikelen met productie fouten. Jeslee hanteert de wet
            &lsquo;koop op afstand&rsquo;, dit houdt voor U als klant in: <br/>
            <em>&ldquo;Voor alle aankopen geldt een zichttermijn van 14 werkdagen. De zichttermijn houdt in dat de
                klant het recht heeft binnen 14 werkdagen de artikelen, in originele verpakking, onbeschadigd en
                ongebruikt, met aanhangende labels kan retourneren. Tevens dient de klant alle voorwaarden voor
                terugzending na te leven. De kosten voor de retourzending komen ten laste van de koper. Na ontvangst
                van de retourzending en na goedkeuring van Jeslee, over de staat van de produkten, wordt binnen
                14&nbsp;dagen het aankoopbedrag exclusief de betaalde verzendkosten van de koper teruggestort. Indien
                artikelen aan Jeslee  geretourneerd worden dient U altijd uw naam en het bestelnummer bij te sluiten
                en Jeslee per mail op de hoogte stellen van de retourzending! <br/>
                Ongefrankeerde retourzendingen worden niet geaccepteerd&rdquo;</em>.
        <p>

        <h3>Afbeeldingen</h3>
        <p>
            Alle afbeeldingen worden zo goed mogelijk getoond. Toch kan een product op details afwijken. Alle foto's
            en specificaties zijn indicatief en kunnen geen aanleiding zijn tot een schadevergoeding of ontbinding van
            de overeenkomst. Aan de afwijking van kleuren kunnen geen rechten ontleend worden.
        </p>

        <h3>Vragen/Klachten</h3>
        <p>
            Bij vragen of klachten over de aangekochte artikelen, kan de koper Jeslee hierover per e-mail berichten. Jeslee zal de koper zo snel mogelijk antwoorden en proberen tot een oplossing te komen.
            Jeslee webwinkel is op geen enkele manier aansprakelijk voor misverstanden, beschadigingen, vertragingen of niet duidelijk overkomen van bestellingen en mededelingen ten gevolge van het gebruik van internet of enig ander communicatiemiddel in het verkeer tussen de klant en webwinkel dan wel tussen Jeslee  en derden, voor zover betrekking hebbend op de relatie tussen de klant en Jeslee.
        </p>

        <p>
            Momenteel is het bezoek alleen mogelijk op afspraak.
        </p>


        <h3>Copyright</h3>
        <p>
            Alle foto's en teksten op de site zijn eigendom van Jeslee
            en mogen zonder overleg niet gebruikt worden door derden.
        </p>

        <p>
            Mocht u nog vragen hebben kunt u <a href="{% url 'contact' %}">contact</a> met ons opnemen.
        </p>
    </div>
    <div class="footnotes">
        <div class="footnote">
            <sup id="fn1">1.
                Met iDEAL kunnen artikelen direct betaald en afgehandeld worden zie voor meer info
                <a href="http://www.ideal.nl/consument/?s=wat" target="_blank">Wat is iDEAL</a>
                <a href="#ref1" title="Terug naar text.">&crarr;</a>
            </sup>
        </div>
        <div class="footnote">
            <sup id="fn2">2.
                Zie voor de volledige kosten
                <a href="https://www.postnl.nl/tarieven/pakketten/" target="_blank">Tarieven PostNL</a>
                <a href="#ref2" title="Terug naar text.">&crarr;</a>
            </sup>
        </div>

    </div>
{% endblock %}
