<ul class="container_12">
    <li><a href="{% url 'home' %}" title="Terug naar home">Home</a></li>
    <li><a href="{% url 'about' %}" title="Over JesLee">Over JesLee</a></li>
{#    <li><a href="{% url 'collections' %}" >Collecties</a></li>#}
{#    <li><a href="/shop/collectie-meisjes" >Meisjes</a></li>#}
{#    <li><a href="/shop/collectie-jongens" >Jongens</a></li>#}
    <li><a href="{% url 'modeshows' %}" >Modeshows</a></li>
{#    <li><a href="{% url 'evenementen' %}" >Evenementen</a></li>#}
{#    <li><a href="{% url 'fotogalerij' %}" >Fotogalerij</a></li>#}
    <li><a href="{% url 'nieuws' %}" >Nieuws</a></li>
    <li><a href="{% url 'winkels' %}" >Winkels</a></li>
    <li><a href="{% url 'contact' %}" >Contact</a></li>
</ul>
