<ul>
    <li><a href="{% url 'company-info' %}" >bedrijfsinformatie</a></li>
    <li><a href="{% url 'save-payment' %}" >veilig betalen</a></li>
    <li><a href="{% url 'return-goods' %}" >retourneren</a></li>
    <li><a href="{% url 'maintenance' %}" >onderhoud</a></li>
{#    <li><a href="{% url 'partners' %}" >partners</a></li>#}
    <li><a href="{% url 'sponsors' %}" >sponsoren</a></li>
    <li><a href="{% url 'conditions' %}">voorwaarden</a></li>
    <li><a href="{% url 'privacy' %}" >privacy</a></li>
</ul>
