{% extends 'base/base.html' %}
{% load i18n %}

{% block jeslee-site %}

<section id="jeslee-header" >
    <div class="header-left-background"></div>
    <div class="header-content container_12">
        <div class="jeslee-logo">
            <img src="{{ STATIC_URL }}gfx/logo-jeslee-transparent.png" title="logo JesLee"/>
        </div>
        <div id="header-menu">
            <ul>
                <li>Inloggen</li>
                <li>Aanmelden</li>
                <li>Je aankopen</li>
            </ul>
            <a href="#" class="link-shopping-bag" title="winkel tasje">
                <img src="{{ STATIC_URL }}gfx/shopping-bag.png" class="shopping-bag" title="winkel tasje"/>
            </a>
        </div>
    </div>
    <div id="main-site-menu" >
        <ul class="container_12">
            <li>Home</li>
            <li>Over JesLee</li>
            <li>Collecties</li>
            <li>Nieuws</li>
            <li>Agenda</li>
            <li>Brochure</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="header-right-background"></div>
</section>

<section id="jeslee-body" class="container_12">
    {% block jeslee-body %}
    {% endblock %}
</section>

<section id="jeslee-footer">
    <hr/>
    <div class="footer-menu container_12">
        <ul>
            <li>bedrijfsinformatie</li>
            <li>veilig betalen</li>
            <li>voorwaarden</li>
            <li>privacy</li>
            <li>onderhoud</li>
        </ul>
    </div>
</section>
{% endblock %}