{% extends 'base/base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block jeslee-site %}

<section id="jeslee-header" >
    <div class="header-left-background"></div>
    <div class="header-content container_12">
        <div class="jeslee-logo">
            <img src="{% static 'gfx/logo-jeslee-transparent.png' %}" title="logo JesLee"/>
        </div>
        <div id="header-menu">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Uitloggen</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Inloggen</a></li>
                {% endif %}
                <li><a href="#" class="disabled">Aanmelden</a></li>
                <li><a href="#" class="disabled">Je aankopen</a></li>
            </ul>
            <a href="{% url 'lfs.cart.views.cart' %}" class="link-shopping-bag" title="winkel tasje">
                <img src="{% static 'gfx/shopping-bag.png' %}" class="shopping-bag" title="winkel tasje"/>
            </a>
        </div>
    </div>
    <div id="main-site-menu" >
        {% include 'base/menu-snippet.html' %}
    </div>
    <div class="header-right-background"></div>
</section>

<section id="jeslee-body" class="container_12">
    {% block jeslee-content %}
    {% endblock %}
</section>

<section id="jeslee-footer">
    <hr/>
    <div id="footer-menu" class="container_12">
        {% include 'base/menu-footer-snippet.html' %}
    </div>
</section>
{% endblock %}