{% extends 'base/base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block jeslee-site %}

<section id="jeslee-header" >
    <div class="header-left-background"></div>
    <div class="header-content container_12">
        <div class="jeslee-logo">
            <img src="{% static 'gfx/logo-jeslee-transparent.png' %}" title="logo Jeslee"/>
        </div>
        <div id="header-menu">
            <ul>
{% comment %}
                {% if user.is_authenticated %}
                <li>welkom {{ user }}<a href="{% url 'logout' %}">Uitloggen</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Inloggen</a></li>
                {% endif %}
                <li><a href="{% url 'lfs.cart.views.cart' %}">Je aankopen</a></li>
{% endcomment %}
            </ul>
{#            <a href="{% url 'lfs.cart.views.cart' %}" class="link-shopping-bag" title="winkel tasje">#}
                <img src="{% static 'gfx/shopping-bag.png' %}" class="shopping-bag" title="winkel tasje"/>
{#            </a>#}
        </div>
    </div>
    <div id="main-site-menu" >
        <ul class="container_12 main-menu">
            <li><a href="{% url 'home' %}"
                   class="{% block menu_home_class %}{% endblock %}">Home</a>
            </li>
            <li><a href="{% url 'about' %}"
                   class="{% block menu_about_class %}{% endblock %}">Over Jeslee</a>
            </li>
            <li><a href="{% url 'winkel' %}"
                   class="{% block menu_shop_class %}{% endblock %}">Winkel</a>
            </li>
{% comment %}
            <li><a href="{% url 'fashion-shows' %}"
                   class="{% block menu_modeshows_class %}{% endblock %}">Modeshows</a>
            </li>
{% endcomment %}
{% comment %}
    <li><a href="{% url 'fotogalerij' %}"
           class="{% block menu_galery_class %}{% endblock %}">Fotogalerij</a></li>
{% endcomment %}
{% comment %}
            <li><a href="{% url 'nieuws' %}"
                   class="{% block menu_news_class %}{% endblock %}">Nieuws</a>
            </li>
{% endcomment %}
            <li><a href="{% url 'verkooppunten' %}"
                   class="{% block menu_retail_class %}{% endblock %}">Verkooppunten</a>
            </li>
            <li><a href="{% url 'contact' %}"
                   class="{% block menu_contact_class %}{% endblock %}">Contact</a>
            </li>
        </ul>
    </div>
    <div class="header-right-background"></div>
</section>

<section id="jeslee-body" class="container_12">
    {% block jeslee-content %}
    {% endblock %}
</section>

<section id="jeslee-footer">
    <hr/>
    <div id="footer-menu" class="container_12">
        {% include 'base/menu-footer-snippet.html' %}
    </div>
</section>
{% endblock %}