{% extends 'base/site-base.html' %}

{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}scss/css-generated/shop.css"/>
{% endblock %}

{% block jeslee-content %}
    <div class="grid_12">
{% comment %}
        <div id="breadcrumbs">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
{% endcomment %}
    </div>
    <div class="grid_3">
        <div class="product-card">
            <div class="product-card-content">
                <div class="product-card-text">
                    <div id="category-menu">
                    {% lfs_categories_portlet %}
                    </div>
                </div>
            </div>
            <div class="product-card-teaser">
            </div>
        </div>
    </div>
    <div class="prefix_3 {{ content_class }}">
        <div class="middle-slot">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}