{% extends 'base/site-base.html' %}

{% load lfs_tags %}
{#{% load lfs_theme_tags %}#}
{% load lfs_portlets_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}scss/css-generated/shop.css"/>
    {% block css-shop %}
    {% endblock %}
{% endblock %}

{% block jeslee-content %}
    <div id="shop-container" >
        <div id="shop-above-content" >
            {% block shop-above-content %}{% endblock %}
        </div>
{% comment %}
        <div id="breadcrumbs">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
{% endcomment %}
        {% block shop-content %}
            <div class="grid_3">
                <div id="category-menu">
                {% lfs_categories_portlet %}
                </div>
            </div>
            <div class="prefix_3 {{ content_class }}">
                <div class="middle-slot">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div> <!-- #shop-container -->
{% endblock %}