{% extends 'bookkeeping-base.html' %}
{% block body %}
    {% block menu %}
        <ul class="main-menu">
            <li class="main-menu-item">
                <a href="{% url 'bookkeeping_home' %}" class="main-menu-item-link">Overzicht</a>
            </li>
            <li class="main-menu-item">
                <a href="{% url 'new_payment' %}" class="main-menu-item-link">Nieuw bonnetje</a>
            </li>
            <li class="main-menu-item">
                <a href="{% url 'new_client' %}" class="main-menu-item-link">Nieuw klant</a>
            </li>
        </ul>
    {% endblock %}

    <div>
        {% block page-content %}
        {% endblock %}
    </div>
{% endblock %}
