{% load i18n %}
{% load lfs_tags %}
<table class="lfs-default">
    <tr>
        <th colspan="2" class="product">
            {% trans 'Article' %}
        </th>
{#        <th class="product-info">#}
{#            {% trans 'Product' %}#}
{#        </th>#}
        <th class="number">
            {% trans 'Quantity' %}
        </th>
        <th class="product-price">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for cart_item in cart_items %}
        <tr>
            <td class="product">
                <div class="image-container">
                    <img src="{{ cart_item.product.get_image.image.url_104x135 }}"
                         alt="{{ cart_item.product.get_name }}"/>
                </div>
            </td>
            <td class="product-info">
                <div class="product-name">
                    {{ cart_item.product.get_name }}
                </div>
                <div class="product-description">
                    {{ cart_item.product.get_short_description|safe }}
                </div>
                <div>
                    <a href="{% url 'lfs_delete_cart_item' cart_item.obj.id %}">{% trans 'Remove from cart' %}</a>
                </div>
                <div class="product-property">
                    {% for property in cart_item.product.get_variant_properties %}
                        <div>
                            {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                        </div>
                    {% endfor %}

                    {% for property in cart_item.product.get_displayed_properties %}
                        <div>
                            {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                        </div>
                    {% endfor %}

                    {% if cart_item.product.is_configurable_product %}
                        {% for property in cart_item.obj.get_properties %}
                            <div>
                                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                                {% if property.obj.is_select_field and property.display_price %}
                                    ({{ property.price|currency:request}})
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </td>
            <td class="number">
                {{ cart_item.quantity }} {{ cart_item.product.get_unit }}
                {% if cart_item.product.get_active_packing_unit %}
                    <span class="packing-unit">
                        ({{ cart_item.obj|packages }} {{ cart_item.product.get_packing_info.1 }})
                    </span>
                {% endif %}

            </td>
            <td class="product-price">
                {{ cart_item.product_price_gross|currency:request}}
            </td>
        </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="4" class="total">
            {% trans 'Total' %}: {{ total|currency:request}}
        </td>
    </tr>
</table>
