{% load i18n lfs_tags %}

{% if cart_items %}
{% comment %}
    <h1 class="first-heading">
        {% trans "Voucher" %}
    </h1>
    <input data="{% url 'lfs_check_voucher_cart' %}"
           type="text"
           id="voucher"
           name="voucher"
           value="{{ voucher_number }}"
           size="30" />

    {% if voucher_number and voucher_message %}
        <span class="voucher-message">
            {{ voucher_message }}
        </span>
    {% endif %}
{% endcomment %}

{% comment %}
    <h1 class="title">
        {% trans 'Your Cart' %}
    </h1>
{% endcomment %}

    <form id="cart-form"
          action="{% url 'lfs.cart.views.refresh_cart' %}"
          onsubmit="return false;">

        <table class="lfs-default article-list">
                <colgroup>
                    <col span="2" class="col-info">
                    <col span="1" class="col-amount">
                    <col span="1" class="col-total-price">
                </colgroup>            <tr>
                <th colspan="2">
                    {% trans 'Article' %}
                </th>
                <th class="amount">
                    {% trans 'Amount' %}
                </th>
                <th class="total-price">
                    {% trans 'Total' %}
                </th>
            </tr>
            {% for cart_item in cart_items %}
                <tr>
                    <td class="product-image">
                        {% if cart_item.product.get_image.image %}
                            <div class="image-container">
                                <img src="{{ cart_item.product.get_image.image.url_104x135 }}"
                                     alt="{{ cart_item.product.get_name }}"/>
                            </div>
                        {% endif %}
                    </td>
                    <td class="product-info">
                        <span class="product-title">
                            <a class="product-name" href="{{ cart_item.product.get_absolute_url }}">
                                {{ cart_item.product.get_name }}
                            </a>
                            <div class="product-sku-container">
                                <span class="product-sku-text">{% trans 'Article nr.' %}</span>
                                <span class="product-sku">{{ cart_item.product.get_sku }}</span>
                            </div>
                            <div>
                                <a href="{% url 'lfs_delete_cart_item' cart_item.obj.id %}"
                                   title="{% trans 'Delete item' %}"
                                   class="delete-button delete-cart-item">{% trans 'Remove article' %}</a>
                            </div>
                        </span>
                        {% for property in cart_item.product.get_variant_properties %}
                            <div>
                                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}

                        {% for property in cart_item.product.get_displayed_properties %}
                            <div>
                                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}

                        {% if cart_item.product.is_configurable_product %}
                            {% for property in cart_item.obj.get_properties %}
                                <div>
                                    {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                                    {% if property.obj.is_select_field and property.display_price %}
                                        ({{ property.price|currency:request }})
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}

                    </td>
                    <td class="product-amount">
                        <input class="number cart-amount"
                               type="text"
                               name="amount-cart-item_{{ cart_item.obj.id }}"
                               size="2"
                               value="{{ cart_item.quantity }}" />
                    </td>
{% comment %}                    <td>
                        {% if cart_item.product.get_unit %}
                            <span class="product-unit">
                                {{ cart_item.product.get_unit }}
                            </span>
                        {% endif %}
                        {% if cart_item.product.get_active_packing_unit %}
                            <span class="packing-unit">
                                ({{ cart_item.obj|packages }} {{ cart_item.product.get_packing_info.1 }})
                            </span>
                        {% endif %}
                    </td>{% endcomment %}
                    <td class="product-total-price"
                        nowrap="nowrap">
                        {{ cart_item.product_price_gross|currency:request }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br/>

        <table class="lfs-default checkout-table">

        {% for discount in discounts %}
                <tr id="discounts-display">
                    <td></td>
                    <td class="left">
                        {{ discount.name }}
                    </td>
                    <td class="number">
                        1
                    </td>
                    <td class="number">

                    </td>
                    <td class="number">
                        - {{ discount.price_net|currency:request }}
                    </td>
                    <td class="number">
                        - {{ discount.tax|currency:request }}
                    </td>
                    <td class="number">
                        - {{ discount.price_gross|currency:request }}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}

            {% if display_voucher %}
                <tr id="voucher-display">
                    <td></td>
                    <td class="product-title left">
                        {% trans "Voucher" %}
                    </td>
                    <td class="number">
                        1
                    </td>
                    <td></td>
                    <td class="number">
                        - {{ voucher_value|currency:request }}
                    </td>
                    <td class="number">
                        ({{ voucher_tax|currency:request }})
                    </td>
                    <td class="number">
                        - {{ voucher_value|currency:request }}
                    </td>
                    <td></td>
                </tr>
            {% endif %}

{% comment %}
            <!-- COUNTRY -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left">
                    {% trans 'Country' %}:
                </td>
                <td>
                    <select class="cart-country"
                            name="country">
                        {% for country in countries %}
                            <option {% ifequal country.code selected_country.code  %}selected="selected"{% endifequal %}
                                    value="{{ country.code }}">
                                {{ country.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td colspan="2"></td>
                <td></td>
            </tr>
{% endcomment %}

            <!-- SHIPPING -->
{% comment %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left">
                    {% trans 'Shipping' %}:
                </td>
                <td>
                    <select class="cart-shipping-method" id="cart-select-shipping-method"
                            name="shipping_method">
                        {% for shipping_method in shipping_methods %}
                            <option {% ifequal shipping_method.id selected_shipping_method.id  %}selected="selected"{% endifequal %}
                                    value="{{ shipping_method.id }}" data-price="{{ shipping_method.price|currency }}">
                                {{ shipping_method.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td class="number " id="cart-shipping-method-price"
                    nowrap="nowrap">
                    {{ shipping_price|currency:request }}
                </td>
                <td></td>
            </tr>
{% endcomment %}

            <!-- PAYMENT METHOD -->
{% comment %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left">
                    {% trans 'Payment' %}:
                </td>
                <td>
                    <select class="cart-payment-method" id="cart-select-payment-method"
                            name="payment_method">
                        {% for payment_method in payment_methods %}
                            <option {% ifequal payment_method.id selected_payment_method.id  %}selected="selected"{% endifequal %}
                                    value="{{ payment_method.id }}">
                                {{ payment_method.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td class="number"
                    nowrap="nowrap">
                    {{ payment_price|currency:request }}
                </td>
                <td></td>
            </tr>
{% endcomment %}

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="3"
                    class="total left padding-top">
                    {% trans 'Total' %}:<br/>
                    <span class="small-text">{% trans 'Inclusive VAT' %}</span>
                </td>
                <td class="total number padding-top"
                    nowrap="nowrap">
                    {{ cart_price|currency:request }}
                </td>
                <td></td>
            </tr>
{% comment %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="3"
                    class="discreet left">
                    {% trans 'Inclusive VAT' %}:
                </td>
                <td class="discreet number"
                    nowrap="nowrap">
                    {{ cart_tax|currency:request }}
                </td>
                <td></td>
            </tr>
{% endcomment %}
{% comment %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="5"
                    class="discreet left padding-top">
                    {% trans 'Total delivery time' %}: {{ max_delivery_time }}
                </td>
            </tr>
{% endcomment %}
        </table>
    </form>
{% else %}
    <h1 class="title">
        {% trans 'Your Cart is empty' %}
    </h1>
    <a class="button emphasized left"
       href="{{ shopping_url }}">
       {% trans 'Go on shopping' %}
    </a>
{% endif %}
