{% extends "lfs/cart/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Cart' %} - {{ block.super }}
{% endblock %}

{% block section %}cart{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _('Cart') %}
{% endblock %}

{% block shop-above-content %}
    <div class="buttons grid_6" >
        <a class="navigation-button checkout-button"
           href="{% url 'lfs_checkout_dispatcher' %}">
            {% trans 'Checkout' %}
        </a>
        <a class="navigation-button shopping-button"
           href="{{ shopping_url }}">
            {% trans 'Go on shopping' %}
        </a>
    </div>
{%  endblock %}


{% block shop-content %}

    <div id="cart-inline">
        {{cart_inline}}
    </div>
{% endblock %}