    <div class="grid_5">
        <div class="measure_explanation">
            <div class="measure_title" >
                <h3>{{ title }}</h3>
                <div class="explanation_text">
                    {{ explanation_text }}
                </div>
            </div>
            <div class="measure_image">
                <a class="image-popup-fit-width" href="{{ image_url }}" title="{{ title }}">
                    <img src="{{ image_thumb_url }}" title="{{ title }}" alt="{{ title }}"/>
                </a>
            </div>
        </div>
    </div>
