{% extends 'bookkeeping/bookkeeping-base.html' %}

{% block page-content %}
    <div>
        <p>
            <span>Voeg goederen toe voor klant: {{ form_data.client }}</span>
        </p>
        <p>
            <span>referentie: {{ form_data.reference }}</span>
        </p>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">
                Pas factuurgegevens aan
            </button>
        {% endif %}
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}

        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.second }}">
            Voeg product toe
        </button>

        <input type="submit" value="Bewaar factuur"/>

    </form>
{% endblock %}
