{% extends 'bookkeeping/bookkeeping-base.html' %}

{% block page-content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
        <input type="submit" value="Maak faktuur"/>
    </form>
{% endblock %}
