{% extends 'fashion_show/fashion-show-base.html' %}

{% block menu_modeshows_class %}selected{% endblock %}

{% block title %}Modeshows {% endblock %}

{% block page-title %}
    Onze modeshows
{% endblock %}

{% block page-content %}
    <article>
        <p>
            Gedurende het hele jaar houden wij een aantal modeshows in de omgeving van noord nederland. Zie onze
            agenda hier rechts op de pagina voor de locaties en de datums waar onze modeshows plaatsvinden. Voor meer
            informatie en voor het kopen van een toegangskaartje kun u op een evenement uit de agenda klikken.
        </p>
    <a href="{% url 'fashion-participate' %}" class="purple-button" id="banner-registration-fashion-show">
        <div class="purple-button-left-column">
{#            <div class="purple-button-header">Meedoen</div>#}
            <div class="purple-button-content">
                Wil je ook meedoen aan een van onze shows<br/>
                Klik dan hier

            </div>
        </div>
        <div class="purple-button-right-column">
            <div class="button-change">?</div>
        </div>
    </a>

    </article>

    <div class="prevent-collapsing">.</div>
    <div class="prevent-collapsing">.</div>

    <div id="fashion-registration-form" style="display:none;">
        <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>

    </div>

{% endblock page-content %}
