{% extends 'fashion_show/fashion-show-base.html' %}

{% block menu_modeshows_class %}selected{% endblock %}

{% block title %}Modeshow in {{ fashion_show.location.name }} {% endblock %}

{% block page-title %}
    Modeshowspektakel {{ fashion_show.location.name }}, {{ fashion_show.location.city }}
{% endblock %}


{% block page-content %}
    <div id="fashion-show-detail">

        <div class="fashion-show-time">
            {{ fashion_show.start_time|date:"d F Y" }} <br/>
            {{ fashion_show.start_time|date:"G:i" }} uur<br/>
        </div>
        <br style="clear: left;"/>
        <p>
            De modeshow vind plaats in {{ fashion_show.location.name }}<br/>
            Het adres is:<br/>

            {{ fashion_show.location.street }} {{ fashion_show.location.street_nr }}<br/>
            {{ fashion_show.location.city }}

        </p>
        {% if fashion_show.ticket_order_url %}
        <a href="{{ fashion_show.ticket_order_url }}" title="Klik hier om uw kaarten te kopen" target="_blank"
                class="purple-banner by-ticket ">
            <div class="purple-banner-left-column">
    {#            <div class="purple-banner-header">Meedoen</div>#}
                <div class="purple-banner-content">
                    <span>Klik hier om kaarten te kopen</span>
                </div>
            </div>
            <div class="purple-banner-right-column">
                <div class="button-change">!</div>
            </div>
        </a>
        {% else %}
        <div class="purple-banner inactive no-tickets-for-sale">
            <div class="purple-banner-left-column">
    {#            <div class="purple-banner-header">Meedoen</div>#}
                <div class="purple-banner-content">
                    <span>De kaart verkoop is nog niet gestart.</span>
                </div>
            </div>
{% comment %}
            <div class="purple-banner-right-column">
                <div class="button-change">!</div>
            </div>
{% endcomment %}
        </div>
        {% endif %}
        <div>
            {% include 'pages/snippets/company-logo-snippet.html' with location=fashion_show.location %}
        </div>
    </div>
{% endblock page-content %}
