{% extends 'fashion_show/fashion-show-base.html' %}
{% load static from staticfiles %}

{% block menu_modeshows_class %}selected{% endblock %}

{% block title %}Modeshow in {{ fashion_show.location.name }} {% endblock %}

{% block javascript_external %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/utils/route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pages/fashion-show-detail.js' %}"></script>
{% endblock %}

{% block page-title %}
    Modeshowspektakel {{ fashion_show.location.name }}, {{ fashion_show.location.city }}
{% endblock %}


{% block page-content %}
    <div id="fashion-show-detail">

        <div class="fashion-show-time">
            {{ fashion_show.start_time|date:"d F Y" }} <br/>
            {{ fashion_show.start_time|date:"G:i" }} uur<br/>
        </div>
        <br style="clear: left;"/>

        <p>
            De modeshow vind plaats in {{ fashion_show.location.name }}<br/>
            Het adres is:<br/>

            {{ fashion_show.location.street }} {{ fashion_show.location.street_nr }}<br/>
            {{ fashion_show.location.city }}

        </p>
        {% if fashion_show.ticket_order_url %}
            <a href="{{ fashion_show.ticket_order_url }}" title="Klik hier om uw kaarten te kopen" target="_blank"
               class="jeslee-ticket buy-ticket ">
{#                <img src="{% static 'gfx/general/ticket-213x120.png' %}" alt="ticket" />#}

                <span class="jeslee-ticket-title">Klik hier om kaarten te kopen!</span>
            </a>
        {% else %}
            <span class="jeslee-ticket-title">De kaart verkoop is nog niet gestart.</span>
            <div class="jeslee-ticket no-tickets-for-sale">
            </div>
        {% endif %}

{% comment %}
        {% if fashion_show.location.latitude and fashion_show.location.longitude %}
            <h2>bepaal route</h2>

            <div class="toggle-show-hide">
                <div class="fashion-show-route">

                    <form action="#" id="routeplanner_form" class="calc-route-onsubmit" data-lat-lng="{{ fashion_show.location.latitude|stringformat:"f" }},{{ fashion_show.location.longitude|stringformat:"f" }}">
                        <div class="form-input-row">
                            <img src="{% static 'gfx/icons/spotlight-waypoint-a.png' %}">
                            <label for="fromAddress">Van:</label>
                            <input value="" name="from" id="fromAddress" size="19" type="text">
                        </div>
                        <div class="form-input-row">
                            <img src="{% static 'gfx/icons/spotlight-waypoint-b.png' %}">
                            <span>Naar:</span>
                            <span>{{ fashion_show.location.name }}</span>
                            <input value="Routebeschrijving" type="submit" name="submit" class="googlebutton">
                        </div>
                    </form>
                </div>
                <div class="grid_8">
                    <div id="map_canvas">&nbsp;</div>
                </div>
                <div id="directions" class="grid_8"></div>
            </div>
        {% endif %}
{% endcomment %}
        <div>
            {% include 'pages/snippets/company-logo-snippet.html' with location=fashion_show.location %}
        </div>
    </div>
{% endblock page-content %}
