{% extends 'pages/base-page-text.html' %}
{% load static from staticfiles %}

{% block menu_modeshows_class %}selected{% endblock %}

{% block page-title %}
    Bedankt voor je aanmelding!
{% endblock %}

{% block jeslee-page-header  %}
    Bedankt voor je aanmelding!
{% endblock %}

{% block page-grid-class %}{% endblock %}
{% block page-content %}
    <img src="{% static 'gfx/photos/training-400x300.jpg' %}" class="text-wrap-right"
         alt="Jeslee traning van de jonge modelletjes"/>
    <p>
        Hallo {{ registration.name }},<br/>
        Leuk dat je mee wilt doen aan een van onze modeshows. We nemen zo snel mogelijk contact met je op hoe
        het verder gaat.
    </p>
{% endblock %}