{% extends 'fashion_show/fashion-show-base.html' %}

{% block menu_modeshows_class %}selected{% endblock %}

{% block title %}Modeshows {% endblock %}

{% block page-title %}
    De leukste modeshowspektakels voor kinderen
{% endblock %}

{% block page-content %}
    <div id="fashion-show-participate">
        <article>

            <p>
                Jeslee is een speciaalzaak voor feestelijke kinderkleding. Ieder jaar geeft Jeslee meerdere modeshows
                op diverse locaties in Nederland om onze collecties te tonen. Deelnemers aan deze modeshowspektakels
                zijn kinderen van 3 tot en met 15 jaar. De kinderen die zich hebben aangemeld krijgen 3 weken voor de
                show een training van een catwalk docent en expressie specialist.
            </p>

            <p>
                De dag van de show worden de deelnemers door de ouders naar de locatie gebracht. Daar worden ze
                opgemaakt door professionele kapsters en visagistes. Oppasdames houden de modelletjes voor en tijdens
                de modeshow goed in de gaten en er is tevens een EHBO team en een beveiligingsteam aanwezig. Aan het
                einde van het spektakel worden de kinderen door hun ouders opgehaald.
            </p>

            <div class="page-announcement">
                &ldquo;Meedoen aan deze modeshows geeft kinderen zelfvertrouwen
                en is een enorm leuke en bijzondere ervaring.&rdquo;
            </div>

            <p>
                Meedoen aan een van onze modeshowspektakels kost €&nbsp;20,-, hiervoor krijgen de kinderen een lunch
                en is inclusief een entree ticket voor een van de ouders / begeleiders. Tevens ontvangt u een
                professionele herinneringsfoto van uw kind.
                Als uw kind mee wil doen aan een modeshowspektakel van Jeslee in uw buurt dan kunt u onderstaand
                formulier invullen of een email sturen naar
                <a href="mailto:info@jeslee.com?subject=Opgave modeshow">info@jeslee.com</a>.
                U hoort dan van ons of er nog plek is.
            </p>

            <p>
                Daarnaast zijn we ook op zoek naar meisjes van 15 tot 20 jaar voor de opening van onze evenementen.
                Naast je opleiding is het ook leuk om af en toe als professioneel model te werken. Als je je bij ons
                aanmeld word je door onze catwalk trainer klaar gestoomd voor de catwalk. Na deze training loop je de
                modeshow en begeleid je de jongste modellen.
            </p>

{% comment %}

            <p>
                <a name="download_flyer" class="todo">Download hier de flyer</a><br/>
                <a name="download_poster" class="todo">Download hier de poster</a><br/>
            </p>
{% endcomment %}

        </article>

        <div class="prevent-collapsing">.</div>

        <div id="fashion-registration-form" >
            <form action=".#fashion-registration-form" method="post">{% csrf_token %}
    {#            {{ form.as_p }}#}
                {% include 'includes/forms/form-snippet.html' %}
                <input type="submit" value="Aanmelden" class="purple-button"/>
            </form>

        </div>
    </div>

{% endblock page-content %}

