{% extends 'fashion_show/fashion-show-base.html' %}
{% load static from staticfiles %}
{% block menu_modeshows_class %}selected{% endblock %}

{% block title %}Modeshows {% endblock %}

{% block page-title %}
    Onze modeshows
{% endblock %}

{% block page-content %}
    <article>
        <p>
            Dit jaar houden wij een aantal modeshows in de omgeving van noord Nederland. Zie onze
            agenda hier rechts voor de locaties en de datums van onze modeshows. Voor meer
            informatie en voor het kopen van een
            <a href="{% url 'fashion-show' upcoming_fashion_show.pk %}">toegangskaartje</a> kun je op een evenement
            uit de agenda klikken.
        </p>
        <h2>Wat is er te zien in onze unieke shows?</h2>
        <ul>
            <li>Prinsessenjurkjes</li>
            <li>Feestkleding voor tieners</li>
            <li>Gelegenheidskleding voor kinderen</li>
            <li>Bruidsmeisjes & bruidsjonkers</li>
            <li>Jeslee's Catwalk Models</li>
            <li>En diverse verrassingsacts</li>
        </ul>
        <p>
            <img src="{% static 'gfx/photos/catwalk_fashion_show.jpg' %}"
        </p>
        <h2>Meedoen als model?</h2>
        <p>
            Lijkt het je leuk om een keer als model mee te doen aan een van onze modeshows? Klik dan hieronder
            voor meer informatie en hoe je je kunt opgeven.
        </p>
    <a href="{% url 'fashion-participate' %}" class="purple-button" id="banner-registration-fashion-show">
        <div class="purple-button-left-column">
{#            <div class="purple-button-header">Meedoen</div>#}
            <div class="purple-button-content">
                Meedoen aan een van onze shows
            </div>
        </div>
        <div class="purple-button-right-column">
            <div class="button-change">?</div>
        </div>
    </a>

    </article>

    <div class="prevent-collapsing">.</div>
    <div class="prevent-collapsing">.</div>

    <div id="fashion-registration-form" style="display:none;">
        <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>

    </div>

{% endblock page-content %}
