{% extends 'base/site-base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'scss/css-generated/home.css' %}"/>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/utils/jpan-spriteAnimation.js' %}" type="text/javascript"></script>
{% endblock %}

{% block jquery-document-ready %}
    jpan.stardust({spriteImage:'{% static 'gfx/sprites/stardust.png' %}'});
{% endblock %}

{% block menu_home_class %}selected{% endblock %}

{% block jeslee-content %}
    <div id="home-page">
        <div class="home-page-impression">
            <img src="{% static 'gfx/feestelijke-kleding-voor-kinderen.jpg'%}" title="feest kleding voor kinderen"/>
        </div>

        {% if upcoming_fashion_show %}
            <div class="grid_6">
                <a href="{% url 'fashion-show' upcoming_fashion_show.pk %}" id="upcoming_fashion_show" class="purple-button ">
                    <div class="purple-button-header">Eerst volgende modeshowspektakel!</div>
                    <div class="purple-button-content">
                        <div class="fashion_show_start_time">
                            <span class="day">
                            {{ upcoming_fashion_show.start_time|date:"d" }}
                            </span>
                            <span class="month">
                            {{ upcoming_fashion_show.start_time|date:"b" }}
                            </span><br/>
                            <span class="day-of-week">
                            {{ upcoming_fashion_show.start_time|date:"D" }}
                            </span>
                            <span class="time">
                            {{ upcoming_fashion_show.start_time|date:"G:i" }}
                            </span>
                        </div>
                        <div class="fashion_show_location">
                            {{ upcoming_fashion_show.location.name }}<br/>
                            {{ upcoming_fashion_show.location.city }}

                        </div>
                    </div>
                </a>
            </div>

            <div class="grid_6">
                <h3>Onze shows worden mede mogelijk gemaakt door:</h3>
                <div class="sponsors">
                    {% include 'pages/snippets/company-logo-snippet.html' with name='WTC Expo, Leeuwarden' logo_img='gfx/logos/logo_WTC_Expo_100x15.jpg' url="http://www.wtcexpo.nl/" %}
                    {% include 'pages/snippets/company-logo-snippet.html' with name='Bonte Wever, Assen' logo_img='gfx/logos/bontewever_100x45.png' url="http://www.debontewever.nl/" %}
                    {% include 'pages/snippets/company-logo-snippet.html' with name='Martinikerk, Groningen' logo_img='gfx/logos/logo_martinikerk_100x61.jpg' url="http://www.martinikerk.nl/" %}
                    {% include 'pages/snippets/company-logo-snippet.html' with name='Noorderpoort, Groningen' logo_img='gfx/logos/logo-noorderpoort_100x22.jpg' url="http://www.noorderpoort.nl/" %}
                    {% include 'pages/snippets/company-logo-snippet.html' with name='IJsseldelta center, Zwolle' logo_img='gfx/logos/logo-ijsseldelta-center-100x30.png' url="http://www.ijsseldeltacenter.nl/" %}
{% comment %}
                    <img src="{% static 'gfx/logos/logo_WTC_Expo_210x33.jpg' %}" alt="logo WTC Expo, KLeeuwarden"/>
                    <img src="{% static 'gfx/logos/bontewever_210x128.png' %}" alt="logo bontewever, Assen"/>
                    <img src="{% static 'gfx/logos/logo-noorderpoort_210x46.jpg' %}" alt="logo noorderpoort, Groningen"/>
                    <img src="{% static 'gfx/logos/logo_martinikerk.jpg' %}" alt="logo martinikerk, Groningen"/>
{% endcomment %}
                </div>
            </div>
        </div>
    {% endif %}
    {% comment %}
    <div class="product-cards-home">
        <div class="grid_3">
            <div class="product-card-home-container">
            {% include "includes/product-card.html" with dress="Jurkje 1" price="€100,-" impression="gfx/tmp/placeholder-dress-1.png" %}
                <div class="product-card-title">
                    Meisjes collectie
                </div>
            </div>
        </div>
        <div class="grid_3">
            <div class="product-card-home-container">
                {% include "includes/product-card.html" with dress="Jurkje 2" price="€120,-" impression="gfx/tmp/placeholder-dress-2.png"%}
                <div class="product-card-title">
                    Jonges collectie
                </div>
            </div>
        </div>
        <div class="grid_3">
            <div class="product-card-home-container">
                <div class="product-card">
                    <div class="product-card-content">
                        <img src="{{ STATIC_URL }}/gfx/tmp/placeholder-modeshow.jpg"/>
                    </div>
                    <div class="product-card-teaser">
                        ZATERDAG 12 APRIL<br/>
                        <a href="#">Schrijf je in als model!</a>
                    </div>
                </div>
                <div class="product-card-title">
                    Onze modeshows
                </div>
            </div>
        </div>
        <div class="grid_3">
            <div class="product-card-home-container">
                <div class="product-card">
                    <div class="product-card-content">
                        <div class="product-card-text">
                            <strong>Laat je gegevens achter!</strong>
                            <p>
                                Dan houden wij je op per e-mail op de hoogte over nieuwe collecties en onze modeshows.
                            </p>
                            <form accept=".">
                                <input type="text" placeholder="Je naam" name="name"/>
                                <input type="text" placeholder="Je e-mailadres" name="email"/>
                                <input type="submit" value="Versturen"/>
                            </form>
                        </div>
                    </div>
                    <div class="product-card-teaser">
                        Jurknaam<br/>
                        € 100,-
                    </div>
                </div>
                <div class="product-card-title">
                    Blijf op de hoogte
                </div>
            </div>
        </div>
    </div>
{% endcomment %}
{% endblock %}