{% extends 'base/site-base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'scss/css-generated/home.css' %}"/>
{% endblock %}

{% block menu_home_class %}selected{% endblock %}

{% block jeslee-content %}
    <img src="{{ STATIC_URL }}gfx/feestelijke-kleding-voor-kinderen.jpg" title="feest kleding voor kinderen"/>

    {% if upcoming_fashion_show %}
        <a href="{% url 'fashion-show' upcoming_fashion_show.pk %}" id="upcoming_fashion_show" class="purple-banner grid_6">
            <div class="purple-banner-header">Eerst volgende modeshowspektakel!</div>
            <div class="purple-banner-content">
                <div class="fashion_show_start_time">
                    <span class="day">
                    {{ upcoming_fashion_show.start_time|date:"d" }}
                    </span>
                    <span class="month">
                    {{ upcoming_fashion_show.start_time|date:"b" }}
                    </span><br/>
                    <span class="time">
                    {{ upcoming_fashion_show.start_time|date:"G:i" }}
                    </span>
                </div>
                <div class="fashion_show_location">
                    {{ upcoming_fashion_show.location.name }}<br/>
                    {{ upcoming_fashion_show.location.city }}

                </div>
            </div>
        </a>
    {% endif %}
    {% comment %}
    <div class="product-cards-home">
        <div class="grid_3">
            <div class="product-card-home-container">
            {% include "includes/product-card.html" with dress="Jurkje 1" price="€100,-" impression="gfx/tmp/placeholder-dress-1.png" %}
                <div class="product-card-title">
                    Meisjes collectie
                </div>
            </div>
        </div>
        <div class="grid_3">
            <div class="product-card-home-container">
                {% include "includes/product-card.html" with dress="Jurkje 2" price="€120,-" impression="gfx/tmp/placeholder-dress-2.png"%}
                <div class="product-card-title">
                    Jonges collectie
                </div>
            </div>
        </div>
        <div class="grid_3">
            <div class="product-card-home-container">
                <div class="product-card">
                    <div class="product-card-content">
                        <img src="{{ STATIC_URL }}/gfx/tmp/placeholder-modeshow.jpg"/>
                    </div>
                    <div class="product-card-teaser">
                        ZATERDAG 12 APRIL<br/>
                        <a href="#">Schrijf je in als model!</a>
                    </div>
                </div>
                <div class="product-card-title">
                    Onze modeshows
                </div>
            </div>
        </div>
        <div class="grid_3">
            <div class="product-card-home-container">
                <div class="product-card">
                    <div class="product-card-content">
                        <div class="product-card-text">
                            <strong>Laat je gegevens achter!</strong>
                            <p>
                                Dan houden wij je op per e-mail op de hoogte over nieuwe collecties en onze modeshows.
                            </p>
                            <form accept=".">
                                <input type="text" placeholder="Je naam" name="name"/>
                                <input type="text" placeholder="Je e-mailadres" name="email"/>
                                <input type="submit" value="Versturen"/>
                            </form>
                        </div>
                    </div>
                    <div class="product-card-teaser">
                        Jurknaam<br/>
                        € 100,-
                    </div>
                </div>
                <div class="product-card-title">
                    Blijf op de hoogte
                </div>
            </div>
        </div>
    </div>
{% endcomment %}
{% endblock %}