/***********************
 * COLORS
 **********************/
/***********************
 * SIZES
 **********************/
/***********************
 * home
 **********************/
/* line 6, ../content.scss */
.product-cards-home {
  margin-top: 10px;
}
/* line 8, ../content.scss */
.product-cards-home .product-card-home-container {
  height: 370px;
}
/* line 11, ../content.scss */
.product-cards-home .product-card-home-container .product-card-title {
  margin: 10px 20px;
}

/* line 18, ../content.scss */
.product-card-container {
  position: relative;
}
/* line 21, ../content.scss */
.product-card-container.no_stock .sold-out, .product-card-container.not_deliverable .sold-out {
  display: block;
}
/* line 24, ../content.scss */
.product-card-container.no_stock .product-card, .product-card-container.not_deliverable .product-card {
  background: rgba(57, 14, 65, 0.6);
}
/* line 28, ../content.scss */
.product-card-container .sold-out {
  color: #EBDC78;
  background-color: rgba(57, 14, 65, 0.6);
  display: none;
  font-size: 16pt;
  font-weight: bold;
  left: 31px;
  letter-spacing: 4px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 169px;
}
/* line 47, ../content.scss */
.product-card-container .product-card {
  background-color: #390e41;
  color: #EBDC78;
  height: 312px;
  padding: 6px;
  margin: 0 0 20px 25px;
  width: 179px;
}
/* line 55, ../content.scss */
.product-card-container .product-card img {
  display: block;
  margin: 0 auto;
}
/* line 59, ../content.scss */
.product-card-container .product-card a {
  color: #EBDC78;
  text-decoration: none;
}
/* line 64, ../content.scss */
.product-card-container .product-card .product-card-content {
  background-color: #EBE7EC;
  color: #390e41;
  height: 270px;
  overflow: hidden;
}
/* line 70, ../content.scss */
.product-card-container .product-card .product-card-content a {
  color: #390e41;
}
/* line 74, ../content.scss */
.product-card-container .product-card .product-card-content .product-card-text {
  padding: 20px;
}
/* line 77, ../content.scss */
.product-card-container .product-card .product-card-content .product-card-text strong {
  display: block;
  margin-bottom: 15px;
}
/* line 81, ../content.scss */
.product-card-container .product-card .product-card-content .product-card-text p {
  margin: 10px 0;
  line-height: 1.1;
}
/* line 85, ../content.scss */
.product-card-container .product-card .product-card-content .product-card-text form {
  margin-top: 20px;
}
/* line 88, ../content.scss */
.product-card-container .product-card .product-card-content .product-card-text form input {
  margin: 10px 0;
  width: 100%;
}
/* line 92, ../content.scss */
.product-card-container .product-card .product-card-content .product-card-text form input[type=submit] {
  background-color: #390e41;
}
/* line 99, ../content.scss */
.product-card-container .product-card .product-card-teaser {
  margin: 4px 14px 0 14px;
}

/* line 104, ../content.scss */
.product-card:hover {
  -webkit-box-shadow: 0px 0px 15px 5px #ebdc78;
  -moz-box-shadow: 0px 0px 15px 5px #ebdc78;
  box-shadow: 0px 0px 15px 5px #ebdc78;
}
