/***********************
* home
**********************/
/* line 5, ../home.scss */
#home-page .home-page-impression {
  margin-bottom: 20px;
}
/* line 12, ../home.scss */
#home-page #upcoming_fashion_show.purple-button .purple-button-content {
  margin-left: 36px;
  width: 100%;
}
/* line 15, ../home.scss */
#home-page #upcoming_fashion_show.purple-button .purple-button-content .fashion_show_start_time {
  display: inline-block;
  margin-top: 11px;
  vertical-align: top;
}
/* line 20, ../home.scss */
#home-page #upcoming_fashion_show.purple-button .purple-button-content .fashion_show_start_time .day {
  font-size: 34pt;
}
/* line 23, ../home.scss */
#home-page #upcoming_fashion_show.purple-button .purple-button-content .fashion_show_start_time .month {
  font-size: 22pt;
}
/* line 27, ../home.scss */
#home-page #upcoming_fashion_show.purple-button .purple-button-content .fashion_show_location {
  border-left: 1px solid #fff;
  display: inline-block;
  height: 54px;
  margin-left: 20px;
  padding-left: 20px;
  overflow: hidden;
}
/* line 40, ../home.scss */
#home-page .sponsors a {
  margin: 0 5px 5px 5px;
  display: inline-block;
}
/* line 43, ../home.scss */
#home-page .sponsors a .white-plane {
  padding: 6px;
}
/* line 46, ../home.scss */
#home-page .sponsors a .company-logo {
  height: 75px;
  width: auto;
}
