/***********************
 * COLORS
 **********************/
/***********************
 * SIZES
 **********************/
/* line 3, ../pages.scss */
#jeslee-page-content {
  /***********************
  * contact
  **********************/
}
/* line 7, ../pages.scss */
#jeslee-page-content .jeslee-page-header {
  margin: 20px 200px 20px 20px;
}
/* line 11, ../pages.scss */
#jeslee-page-content article {
  margin-bottom: 20px;
}
/* line 14, ../pages.scss */
#jeslee-page-content article .subtitle {
  color: #777;
  font-size: 10pt;
  margin-top: -18px;
}
/* line 24, ../pages.scss */
#jeslee-page-content .contact-info {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
/* line 30, ../pages.scss */
#jeslee-page-content .contact-info ul li span:first-child {
  width: 75px;
  display: inline-block;
}
/* line 37, ../pages.scss */
#jeslee-page-content #routeplanner_form {
  margin: 15px 0;
}
/* line 39, ../pages.scss */
#jeslee-page-content #routeplanner_form .form-input-row {
  padding: 5px 0;
}
/* line 44, ../pages.scss */
#jeslee-page-content #map_canvas {
  height: 500px;
  width: 619px;
  margin-bottom: 30px;
}

/***********************
* fashion show
**********************/
/* line 54, ../pages.scss */
#banner-registration-fashion-show {
  width: 200px;
}

/***********************
* partners
**********************/
/* line 61, ../pages.scss */
.partner {
  /*
    .partner_name {
      color: $dark-text-color;
      font-weight: bold;
    }
  */
}
/* line 69, ../pages.scss */
.partner .logo-container {
  display: table-cell;
  height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 210px;
}
/* line 76, ../pages.scss */
.partner .logo-container img.partner-logo {
  text-align: center;
}
