/***********************
 * COLORS
 **********************/
/***********************
 * SIZES
 **********************/
/* line 9, ../pages.scss */
#jeslee-page-content .right-column.align-with-content {
  padding-top: 71px;
}
/* line 12, ../pages.scss */
#jeslee-page-content .right-column .img-title {
  margin-bottom: 30px;
  width: 160px;
}
/* line 19, ../pages.scss */
#jeslee-page-content article {
  margin-bottom: 20px;
}
/* line 22, ../pages.scss */
#jeslee-page-content article .subtitle {
  color: #777;
  font-size: 10pt;
  margin-top: -18px;
}

/***********************
* fashion_show
**********************/
/* line 33, ../pages.scss */
#fashion_show_agenda {
  background-color: #390e41;
  display: table-cell;
  color: #ebe7ec;
  padding: 20px 0 20px 30px;
  width: 300px;
}
/* line 40, ../pages.scss */
#fashion_show_agenda h3 {
  color: #ebdc78;
  font-family: university_roman;
  font-size: 20pt;
  margin-bottom: 30px;
  text-align: center;
}
/* line 48, ../pages.scss */
#fashion_show_agenda a {
  color: #ebe7ec;
  position: relative;
  text-decoration: none;
  z-index: 10;
}
/* line 53, ../pages.scss */
#fashion_show_agenda a:hover, #fashion_show_agenda a.selected {
  color: #ebdc78;
  text-decoration: none;
}
/* line 58, ../pages.scss */
#fashion_show_agenda a:hover .ticket {
  left: -110px;
}
/* line 62, ../pages.scss */
#fashion_show_agenda a:visited {
  text-decoration: none;
}
/* line 67, ../pages.scss */
#fashion_show_agenda .ticket {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
/* line 78, ../pages.scss */
#fashion_show_agenda .fashion_show {
  background-color: #390e41;
  border-bottom: 1px solid;
  height: 60px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}
/* line 86, ../pages.scss */
#fashion_show_agenda .fashion_show .fashion_show_start_time {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  width: 100px;
}
/* line 91, ../pages.scss */
#fashion_show_agenda .fashion_show .fashion_show_start_time .day {
  font-size: 24pt;
}
/* line 94, ../pages.scss */
#fashion_show_agenda .fashion_show .fashion_show_start_time .month {
  font-size: 18pt;
}
/* line 97, ../pages.scss */
#fashion_show_agenda .fashion_show .fashion_show_start_time .day-of-week {
  margin-right: 5px;
}
/* line 101, ../pages.scss */
#fashion_show_agenda .fashion_show .fashion_show_location {
  display: inline-block;
  height: 60px;
  overflow: hidden;
  width: 195px;
}

/* line 111, ../pages.scss */
#fashion-show-detail .fashion-show-time {
  float: left;
  font-size: 12pt;
  font-weight: bold;
  line-height: px;
  padding: 5px 5px 5px 20px;
  width: 150px;
}
/* line 122, ../pages.scss */
#fashion-show-detail .company-logo {
  bottom: 0;
  float: right;
  right: 0;
}
/* line 127, ../pages.scss */
#fashion-show-detail .jeslee-ticket {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 140px;
  width: 250px;
}
/* line 133, ../pages.scss */
#fashion-show-detail .jeslee-ticket.buy-ticket {
  background-image: url("../../gfx/general/ticket-213x120.png");
}
/* line 135, ../pages.scss */
#fashion-show-detail .jeslee-ticket.buy-ticket:hover {
  background-image: url("../../gfx/general/ticket-213x120-hover.png");
}
/* line 139, ../pages.scss */
#fashion-show-detail .jeslee-ticket.no-tickets-for-sale {
  background-image: url("../../gfx/general/ticket-213x120-no-sale.png");
}
/* line 142, ../pages.scss */
#fashion-show-detail .jeslee-ticket .jeslee-ticket-title {
  margin-left: 9px;
}
/* line 147, ../pages.scss */
#fashion-show-detail .fashion-show-route {
  margin-top: 20px;
}
/* line 150, ../pages.scss */
#fashion-show-detail #map_canvas {
  width: 590px;
  height: 400px;
}

/* line 158, ../pages.scss */
#fashion-show-participate form label[for=id_remarks] {
  float: left;
  margin-top: 40px;
}

/***********************
* about
**********************/
/* line 168, ../pages.scss */
#about-jeslee-right-column {
  margin-left: 50px;
}

/***********************
* sponsors
**********************/
/* line 175, ../pages.scss */
#jeslee-sponsors {
  margin-left: -10px;
}
/* line 177, ../pages.scss */
#jeslee-sponsors .sponsor {
  margin-bottom: 10px;
  width: 230px;
}

/***********************
* sales points
**********************/
/* line 187, ../pages.scss */
#sales-points .shopping-bags-row {
  margin: 85px 0 40px 0;
}
/* line 189, ../pages.scss */
#sales-points .shopping-bags-row img {
  margin-right: 49px;
}

/***********************
* voorwaarden
**********************/
/* line 200, ../pages.scss */
#conditions-page .list-definition {
  width: 100px;
}
