/***********************
 * COLORS
 **********************/
/* line 7, ../product-detail.scss */
#shop-container #shop-above-content .product-navigation {
  float: right; }
  /* line 10, ../product-detail.scss */
  #shop-container #shop-above-content .product-navigation .left-triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ebdc78 transparent transparent; }
  /* line 19, ../product-detail.scss */
  #shop-container #shop-above-content .product-navigation .right-triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #ebdc78; }
/* line 32, ../product-detail.scss */
#shop-container #product-form .product-images .main-image {
  border: 1px solid #8f3ca1;
  height: 584px;
  width: 460px; }
/* line 39, ../product-detail.scss */
#shop-container #product-form .order-info {
  background-color: #390e41;
  color: #ebdc78;
  padding: 30px 20px 20px 20px; }
  /* line 45, ../product-detail.scss */
  #shop-container #product-form .order-info .prices .for-sale-price {
    font-size: 14pt; }
  /* line 48, ../product-detail.scss */
  #shop-container #product-form .order-info .prices .product-price {
    margin-bottom: 20px; }
  /* line 55, ../product-detail.scss */
  #shop-container #product-form .order-info .size-and-order #size-selector {
    width: 100%; }
  /* line 60, ../product-detail.scss */
  #shop-container #product-form .order-info .separator {
    border-top: 1px solid #ebdc78;
    margin: 20px -10px 20px -10px; }
