/***********************
 * COLORS
 **********************/
#shop-container .navigation-button {
  background-color: #8f3ca1;
  color: #ebdc78;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  text-decoration: none; }
#shop-container #shop-above-content {
  height: 50px; }
  #shop-container #shop-above-content .category-name {
    float: left;
    font-size: 16pt;
    margin-top: 14px; }
  #shop-container #shop-above-content .sorting {
    float: right; }
    #shop-container #shop-above-content .sorting select {
      background-color: #390e41;
      border: none;
      color: #ebdc78;
      margin-top: 11px;
      padding: 5px; }
      #shop-container #shop-above-content .sorting select option {
        background-color: #390e41; }
#shop-container #category-menu {
  border: 6px solid #390e41;
  padding: 10px;
  min-height: 292px; }
  #shop-container #category-menu > ul.root > li > a {
    font-weight: bold;
    text-transform: uppercase; }
  #shop-container #category-menu > ul.root > li li:first-child {
    margin-top: 2px; }
  #shop-container #category-menu li {
    margin-bottom: 2px; }
    #shop-container #category-menu li a {
      width: 180px;
      display: block;
      padding: 4px;
      text-decoration: none; }
      #shop-container #category-menu li a .product-count {
        color: #ca1e69; }
    #shop-container #category-menu li a.current {
      background-color: #BFAFC1; }
  #shop-container #category-menu li.level-1 {
    margin-left: 10px; }
    #shop-container #category-menu li.level-1 a {
      width: 170px; }
#shop-container .for-sale-standard-price {
  text-decoration: line-through; }
