/***********************
 * COLORS
 **********************/
/***********************
 * main
 **********************/
@font-face {
  font-family: university_roman;
  src: url("../../fonts/UNIVERSI.TTF"); }

/* line 10, ../style.scss */
html {
  background: url("../../gfx/background/background-left.png") no-repeat scroll left top 185px transparent;
  background-color: #ebe7ec;
  color: #390e41;
  font-family: university_roman;
  font-size: 11pt;
  height: 100%; }

/* line 18, ../style.scss */
body {
  background: url("../../gfx/background/background-right.png") no-repeat scroll right top 125px transparent; }

/* line 22, ../style.scss */
a {
  color: #390e41; }

/***********************
 * generic classes
 **********************/
/* line 28, ../style.scss */
table.lfs-default {
  background: #390e41;
  color: #ebdc78;
  width: 100%; }
  /* line 32, ../style.scss */
  table.lfs-default tr {
    border-bottom: 1px solid #ebdc78; }
  /* line 35, ../style.scss */
  table.lfs-default tr:last-child {
    border-bottom: none; }
  /* line 38, ../style.scss */
  table.lfs-default th {
    border-right: 1px dotted #ebdc78;
    padding: 5px; }
  /* line 42, ../style.scss */
  table.lfs-default td {
    border-right: 1px dotted #ebdc78;
    padding: 5px; }
  /* line 47, ../style.scss */
  table.lfs-default td:first-child,
  table.lfs-default td:last-child {
    border-right: none; }

/***********************
 * header
 **********************/
/* line 55, ../style.scss */
#jeslee-header {
  background: #390e41 url("../../gfx/background/header-bottom.png") no-repeat center bottom;
  height: 120px;
  margin-top: 60px;
  position: relative;
  width: 100%; }
  /* line 62, ../style.scss */
  #jeslee-header .header-left-background {
    background: url("../../gfx/background/background-top-left.png") no-repeat scroll left top transparent;
    height: 144px;
    width: 90px;
    position: absolute;
    top: -62px;
    left: 0; }
  /* line 70, ../style.scss */
  #jeslee-header .header-content {
    margin: 0 auto; }
    /* line 72, ../style.scss */
    #jeslee-header .header-content .jeslee-logo {
      float: left;
      margin-left: 20px; }
    /* line 77, ../style.scss */
    #jeslee-header .header-content #header-menu {
      float: right;
      margin-top: 15px; }
      /* line 80, ../style.scss */
      #jeslee-header .header-content #header-menu ul {
        float: left;
        margin-top: 26px; }
        /* line 83, ../style.scss */
        #jeslee-header .header-content #header-menu ul li {
          display: inline; }
          /* line 85, ../style.scss */
          #jeslee-header .header-content #header-menu ul li a {
            border-right: 1px solid #FFF;
            color: #ebdc78;
            padding: 0 10px;
            text-decoration: none; }
          /* line 91, ../style.scss */
          #jeslee-header .header-content #header-menu ul li a:hover {
            text-decoration: underline; }
        /* line 95, ../style.scss */
        #jeslee-header .header-content #header-menu ul li:last-child {
          border-right: none; }
      /* line 99, ../style.scss */
      #jeslee-header .header-content #header-menu a.link-shopping-bag {
        height: 59px;
        width: 36px; }
  /* line 105, ../style.scss */
  #jeslee-header #main-site-menu {
    background-color: #ebe7ec;
    bottom: 1px;
    height: 40px;
    position: absolute;
    width: 100%; }
    /* line 111, ../style.scss */
    #jeslee-header #main-site-menu ul {
      margin: 10px auto 0 auto; }
      /* line 113, ../style.scss */
      #jeslee-header #main-site-menu ul li {
        border-right: 1px solid #390e41;
        display: inline; }
        /* line 116, ../style.scss */
        #jeslee-header #main-site-menu ul li a {
          padding: 0 20px;
          text-decoration: none; }
        /* line 120, ../style.scss */
        #jeslee-header #main-site-menu ul li a:hover {
          padding: 0 20px;
          text-decoration: underline; }
      /* line 125, ../style.scss */
      #jeslee-header #main-site-menu ul li:last-child {
        border-right: none; }
  /* line 130, ../style.scss */
  #jeslee-header .header-right-background {
    background: url("../../gfx/background/background-top-right.png") no-repeat scroll right top transparent;
    height: 144px;
    width: 90px;
    position: absolute;
    top: -62px;
    right: 0; }

/***********************
 * body
 **********************/
/* line 143, ../style.scss */
#jeslee-body {
  margin: 0 auto;
  min-height: 400px; }

/***********************
 * footer
 **********************/
/* line 151, ../style.scss */
#jeslee-footer {
  min-height: 150px;
  widows: 100%; }
  /* line 154, ../style.scss */
  #jeslee-footer hr {
    background-color: #390e41;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
    border-bottom: 1px solid #390e41;
    padding-top: 10px; }
  /* line 162, ../style.scss */
  #jeslee-footer #footer-menu ul {
    color: #000;
    margin: 10px 10px 0 10px; }
    /* line 165, ../style.scss */
    #jeslee-footer #footer-menu ul li {
      display: inline;
      padding: 0 20px; }

/***********************
 * utility
 **********************/
/* line 178, ../style.scss */
a.disabled {
  cursor: default !important;
  color: black !important;
  text-decoration: line-through !important; }
