/***********************
 * COLORS
 **********************/
/***********************
 * SIZES
 **********************/
/***********************
 * main
 **********************/
@font-face {
  font-family: university_roman;
  src: url("../../fonts/UNIVERSI.TTF") format("truetype");
}

/* line 11, ../style.scss */
html {
  background: url("../../gfx/background/background-left.png") no-repeat scroll left top 178px transparent;
  background-color: #ebe7ec;
  color: #525252;
  font-family: "Times New Roman";
  font-size: 11pt;
  height: 100%;
  line-height: 16pt;
}

/* line 21, ../style.scss */
body {
  background: url("../../gfx/background/background-right.png") no-repeat scroll right top 178px transparent;
  height: auto;
  overflow-x: hidden;
}

/* line 28, ../style.scss */
a {
  color: #390e41;
}

/* line 32, ../style.scss */
h1 {
  color: #390e41;
  font-size: 18pt;
  font-weight: normal;
  margin: 30px 0 20px 0;
}

/* line 39, ../style.scss */
h2 {
  color: #390e41;
  font-size: 14pt;
  font-weight: normal;
  line-height: 14pt;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* line 48, ../style.scss */
h3 {
  color: #390e41;
  font-size: 13pt;
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 55, ../style.scss */
p {
  margin: 15px 0;
  line-height: 18pt;
  text-align: justify;
}

/* line 61, ../style.scss */
article {
  clear: both;
}
/* line 63, ../style.scss */
article ul {
  list-style: disc;
  margin-left: 40px;
}

/* line 68, ../style.scss */
strong {
  font-weight: bold;
  font-size: 12pt;
}

/***********************
 * generic classes
 **********************/
/* line 76, ../style.scss */
table.lfs-default {
  background: #390e41;
  color: #ebdc78;
  width: 100%;
}
/* line 80, ../style.scss */
table.lfs-default tr {
  border-bottom: 1px solid #ebdc78;
}
/* line 83, ../style.scss */
table.lfs-default tr:last-child {
  border-bottom: none;
}
/* line 86, ../style.scss */
table.lfs-default th {
  padding: 10px;
}
/* line 90, ../style.scss */
table.lfs-default td {
  padding: 5px;
}
/* line 94, ../style.scss */
table.lfs-default td:last-child {
  border-right: none;
}
/* line 97, ../style.scss */
table.lfs-default a {
  color: #ebdc78;
}

/* line 102, ../style.scss */
.jeslee-form-container {
  background: #390e41;
  color: #ebdc78;
  margin-bottom: 20px;
  padding: 20px;
}
/* line 103, ../style.scss */
.jeslee-form-container .jeslee-form-container-header {
  font-size: 14pt;
  margin-bottom: 20px;
}
/* line 107, ../style.scss */
.jeslee-form-container a {
  color: #ebdc78;
}
/* line 115, ../style.scss */
.jeslee-form-container ul li {
  height: 45px;
}
/* line 117, ../style.scss */
.jeslee-form-container ul li .label {
  display: inline-block;
  width: 50%;
}
/* line 121, ../style.scss */
.jeslee-form-container ul li input {
  display: inline-block;
  width: 184px;
}
/* line 125, ../style.scss */
.jeslee-form-container ul li input[type=radio] {
  float: right;
  width: 20px;
  margin-right: 250px;
}
/* line 131, ../style.scss */
.jeslee-form-container ul li select {
  width: 204px;
}

/* line 140, ../style.scss */
form label {
  display: inline-block;
  width: 100px;
}
/* line 144, ../style.scss */
form input[type=text], form input[type=password], form select {
  border: none;
  background-color: #a38fa7;
  font-family: "Times New Roman";
  font-size: 12pt;
  height: 30px;
  margin: 10px 0 10px 0;
  width: 456px;
  padding-left: 20px;
}
/* line 155, ../style.scss */
form button, form input[type=submit] {
  background-color: #64124d;
  color: #ebdc78;
  display: inline-block;
  padding: 10px;
  margin: 10px 15px 0 0;
  text-decoration: none;
}
/* line 163, ../style.scss */
form select {
  font-size: 12pt;
  width: 476px;
}
/* line 166, ../style.scss */
form select option {
  background-color: #CEB4D3;
}
/* line 171, ../style.scss */
form textarea {
  font-family: "Times New Roman";
  font-size: 12pt;
  font-weight: normal;
  padding: 10px 20px;
  width: 438px;
}

/* line 180, ../style.scss */
.small-text {
  font-size: 10pt;
}

/* line 184, ../style.scss */
.errorlist {
  color: #F84637;
}

/* line 188, ../style.scss */
.img-title {
  font-size: 10pt;
  font-style: italic;
}

/***********************
 * header
 **********************/
/* line 196, ../style.scss */
#jeslee-header {
  background: #390e41 url("../../gfx/background/header-bottom.png") no-repeat center bottom;
  height: 140px;
  padding-top: 30px;
  position: relative;
  width: 100%;
}
/* line 203, ../style.scss */
#jeslee-header .header-left-background {
  background: url("../../gfx/background/background-top-left.png") no-repeat scroll left top transparent;
  height: 144px;
  width: 90px;
  position: absolute;
  top: -18px;
  left: 0;
}
/* line 211, ../style.scss */
#jeslee-header .header-content {
  margin: 0 auto;
}
/* line 213, ../style.scss */
#jeslee-header .header-content .jeslee-logo {
  float: left;
  margin-left: 20px;
}
/* line 218, ../style.scss */
#jeslee-header .header-content #header-menu {
  float: right;
  margin-top: 15px;
}
/* line 221, ../style.scss */
#jeslee-header .header-content #header-menu ul {
  float: left;
  margin-top: 26px;
}
/* line 224, ../style.scss */
#jeslee-header .header-content #header-menu ul li {
  display: inline;
}
/* line 226, ../style.scss */
#jeslee-header .header-content #header-menu ul li a {
  border-right: 1px solid #FFF;
  color: #ebdc78;
  padding: 0 10px;
  text-decoration: none;
}
/* line 232, ../style.scss */
#jeslee-header .header-content #header-menu ul li a:hover {
  text-decoration: underline;
}
/* line 236, ../style.scss */
#jeslee-header .header-content #header-menu ul li:last-child {
  border-right: none;
}
/* line 240, ../style.scss */
#jeslee-header .header-content #header-menu a.link-shopping-bag {
  height: 59px;
  width: 36px;
}
/* line 246, ../style.scss */
#jeslee-header #main-site-menu {
  background-color: #ebe7ec;
  bottom: 1px;
  height: 40px;
  position: absolute;
  width: 100%;
}
/* line 253, ../style.scss */
#jeslee-header #main-site-menu ul.main-menu {
  height: 30px;
  margin: 10px auto 0 auto;
}
/* line 256, ../style.scss */
#jeslee-header #main-site-menu ul.main-menu li {
  display: inline;
}
/* line 259, ../style.scss */
#jeslee-header #main-site-menu ul.main-menu li a {
  padding: 11px 20px;
  text-decoration: none;
}
/* line 263, ../style.scss */
#jeslee-header #main-site-menu ul.main-menu li a:hover, #jeslee-header #main-site-menu ul.main-menu li a.selected {
  background-color: #390e41;
  color: #ebdc78;
}
/* line 270, ../style.scss */
#jeslee-header #main-site-menu ul.main-menu li:last-child {
  border-right: none;
}
/* line 275, ../style.scss */
#jeslee-header #main-site-menu ul.sub-menu li {
  display: inline;
}
/* line 277, ../style.scss */
#jeslee-header #main-site-menu ul.sub-menu li a {
  padding: 11px 20px;
}
/* line 284, ../style.scss */
#jeslee-header .header-right-background {
  background: url("../../gfx/background/background-top-right.png") no-repeat scroll right top transparent;
  height: 144px;
  width: 90px;
  position: absolute;
  top: -18px;
  right: 0;
}

/***********************
 * body
 **********************/
/* line 297, ../style.scss */
#jeslee-body {
  margin: 0 auto;
  min-height: 400px;
}

/***********************
 * footer
 **********************/
/* line 305, ../style.scss */
#jeslee-footer {
  margin-top: 20px;
  min-height: 150px;
  widows: 100%;
}
/* line 309, ../style.scss */
#jeslee-footer hr {
  background-color: #390e41;
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  border-bottom: 1px solid #390e41;
  padding-top: 10px;
}
/* line 317, ../style.scss */
#jeslee-footer #footer-menu ul {
  color: #000;
  margin: 10px 10px 0 10px;
}
/* line 320, ../style.scss */
#jeslee-footer #footer-menu ul li {
  display: inline;
  padding: 0 20px;
}

/***********************
 * banners and planes
 **********************/
/* line 332, ../style.scss */
input[type=submit].purple-button {
  color: #ebdc78;
  font-size: 16pt;
  line-height: 11pt;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}
/* line 339, ../style.scss */
input[type=submit].purple-button:hover {
  color: #ad9d30;
}

/* line 344, ../style.scss */
.purple-button {
  background-color: #64124d;
  border: 6px solid #ad9d30;
  display: table;
  height: 63px;
  padding: 20px;
  text-decoration: none;
}
/* line 351, ../style.scss */
.purple-button.inactive {
  border: none;
  background-color: #A38FA7;
}
/* line 354, ../style.scss */
.purple-button.inactive .purple-button-content {
  width: 100%;
}
/* line 360, ../style.scss */
.purple-button:hover .purple-button-header {
  color: #ad9d30;
}
/* line 367, ../style.scss */
.purple-button:hover .button-change {
  font-size: 90pt;
}
/* line 371, ../style.scss */
.purple-button .purple-button-left-column {
  display: table-cell;
  vertical-align: middle;
}
/* line 375, ../style.scss */
.purple-button .purple-button-right-column {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 380, ../style.scss */
.purple-button .button-change {
  color: #ad9d30;
  float: right;
  font-size: 70pt;
  font-weight: bold;
  width: 90px;
}
/* line 387, ../style.scss */
.purple-button .purple-button-header {
  color: #ebdc78;
  font-size: 18pt;
  line-height: 22pt;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
/* line 395, ../style.scss */
.purple-button .purple-button-content {
  color: #fff;
  font-size: 15pt;
  width: 205px;
}

/* line 402, ../style.scss */
.white-plane {
  background-color: #fff;
  display: block;
  padding: 10px;
}

/* line 409, ../style.scss */
.company-logo {
  display: table-cell;
  height: 128px;
  text-align: center;
  vertical-align: middle;
  width: 210px;
}

/***********************
 * layouts
 **********************/
/* line 422, ../style.scss */
table.definition-list tr td {
  padding: 5px;
}
/* line 425, ../style.scss */
table.definition-list tr td.definition-key {
  font-weight: bold;
}

/* line 440, ../style.scss */
dl dd {
  padding-left: 20px;
}

/* line 445, ../style.scss */
em {
  font-style: italic;
}
/* line 447, ../style.scss */
em a {
  font-style: italic;
}

/* line 453, ../style.scss */
sup a {
  text-decoration: none;
}

/* line 458, ../style.scss */
.text-wrap-right {
  float: right;
  margin: 20px 0 20px 20px;
}

/* line 462, ../style.scss */
.text-wrap-left {
  float: left;
  margin: 20px 20px 20px 0;
}

/* line 467, ../style.scss */
.footnotes {
  margin-top: 40px;
}
/* line 469, ../style.scss */
.footnotes .footnote {
  margin-top: 10px;
}
/* line 473, ../style.scss */
.footnotes .footnote a {
  font-size: 10pt;
}

/* line 479, ../style.scss */
.full-out-wrapper {
  display: table;
  width: 1000%;
}
/* line 482, ../style.scss */
.full-out-wrapper .full-out-right {
  background-color: #390e41;
  display: table-cell;
  overflow: hidden;
  position: relative;
  z-index: -10;
}

/***********************
 * utility
 **********************/
/* line 494, ../style.scss */
a.disabled {
  cursor: default !important;
  color: #000 !important;
  text-decoration: line-through !important;
}

/* line 500, ../style.scss */
.prevent-collapsing {
  height: 0;
  overflow: hidden;
  width: 0;
}

/* line 506, ../style.scss */
.todo {
  background-color: #ffff00;
  border: 5px solid #ff00ff;
}

/* line 511, ../style.scss */
.page-uc {
  margin-top: 60px;
  text-align: center;
}
/* line 514, ../style.scss */
.page-uc .page-announcement {
  margin-bottom: 50px;
}

/* line 521, ../style.scss */
.page-announcement {
  color: #390e41;
  font-size: 18pt;
  font-style: italic;
  line-height: 26pt;
  text-align: center;
}
