{% extends 'lfs/base.html' %}
{% load lfs_tags %}
{% load lfs_portlets_tags %}

{% block section %}page{% endblock %}

{% block left-slot %}
    {% lfs_pages_portlet %}
{% endblock %}

{% block content %}

<h1>Bedankt!</h1>

<p>Uw betaling van <b>{{ order.price|currency:request }}</b> voor ordernummer <b>{{ order.number }}</b> is geslaagd.</p>
<p>
    We hebben een bevestiging naar uw e-mailadres ({{ order.user.email }}) gestuurd.<br/>
    De verstuurde e-mail is tevens je garantie bewijs.
</p>
<p>
uuid={{ order.uuid }}
</p>


{% endblock %}

