{% extends 'lfs/base.html' %}
{% load static from staticfiles %}

{% block javascript %}
    <script src="{% static 'js/ideal/ideal-order.js' %}" type="text/javascript"></script>
{% endblock %}

{% block jquery-document-ready %}
    jeslee.ideal_order.init();
{% endblock %}

{% block shop-above-content %}
    <div class="category-name">Betaling met iDEAL</div>
{% endblock %}

{% block shop-content %}
    {% block ideal-header %}
    {% endblock %}
    <p>
        <a href="http://www.ideal.nl/" target="_blank">
            <img src="{% static 'gfx/logos/iDEAL_96x96.png' %}" title="iDEAL logo"/>
        </a>
    </p>
    <p>
        Je word over enkele seconden door gestuurd naar iDEAL, om de betaling af te ronden.<br/>
        Wordt je niet door gestuurd, klik dan op de knop 'Betaal met iDEAL'.
    </p>
    <form action="https://idealtest.secure-ing.com/ideal/mpiPayInitIng.do"
          id="ideal-pay-form" name="ideal-pay-form" method="post" >
        <input type="hidden" name="merchantID" value="{{ merchant_id }}"/>
        <input type="hidden" name="subID" value="{{ sub_id }}"/>
        <input type="hidden" name="amount" value="{{ amount_in_cents }}"/>
        <input type="hidden" name="purchaseID" value="{{ order.number }}"/>
        <input type="hidden" name="language" value=""/>
        <input type="hidden" name="currency" value="{{ currency }}"/>
        <input type="hidden" name="description" value="{{ description }}"/>
        <input type="hidden" name="hash" value="{{ hash }}"/>
        <input type="hidden" name="paymentType" value="{{ payment_type }}"/>
        <input type="hidden" name="validUntil" value="{{ valid_util }}"/>

{#        loop over items #}
        <input type="hidden" name="itemNumber1" value="1"/>
        <input type="hidden" name="itemDescription1" value="{{ order.get_name }}"/>
        <input type="hidden" name="itemQuantity1" value="1"/>
        <input type="hidden" name="itemPrice1" value="{{ amount_in_cents }}"/>


        <input type="hidden" name="urlSuccess" value="http://jeslee.cees{{ success_url }}"/>
        <input type="hidden" name="urlCancel" value="http://jeslee.cees{{ cancel_url }}"/>
        <input type="hidden" name="urlError" value="http://jeslee.cees{{ error_url }}"/>

        <input type="submit" name="submit2" value="{% block ideal-form-submit-text %}Betaal met iDEAL{% endblock %}"/>
    </form>
{% endblock %}
