{% load static from staticfiles %}
{% load i18n lfs_tags %}
        <div class="shopping-bag">
{#            <a href="{% url 'lfs.cart.views.cart' %}" class="link-shopping-bag" title="winkeltasje">#}
            <a href="{% url 'winkel' %}" class="link-shopping-bag" title="winkeltasje">
                <div class="shopping-bag-icon" >
                    <img src="{% static 'gfx/shopping-bag.png' %}" title="winkeltasje"/>
                </div>
                <div class="shopping-bag-info">
                    {% if amount_of_items_int %}
                        <div class="shopping-bag-info-title">Uw winkeltasje</div>
                        <div class="shopping-bag-info-items">
                            {% blocktrans with amount=amount_of_items_locale count counter=amount_of_items_int %}{{ amount_of_items_int }} artikel{% plural %}{{ amount_of_items_int }} artikelen{% endblocktrans %}
                            voor {{ price|currency:request }}
                        </div>
                    {% else %}
                        {% trans 'Cart is empty' %}
                    {% endif %}
                </div>
            </a>
        </div>

{% comment %}
            <ul>
                {% if user.is_authenticated %}
                <li>welkom {{ user }}<a href="{% url 'logout' %}">Uitloggen</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Inloggen</a></li>
                {% endif %}
                <li><a href="{% url 'lfs.cart.views.cart' %}">Je aankopen</a></li>
            </ul>
{% endcomment %}
