{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Login' %} - {{ block.super }}
{% endblock %}

{% block section %}checkout-login{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Login") %}
{% endblock %}

{% block shop-content %}
    <div id="checkout-login-container">
        <h1>
            {% trans 'Please select!' %}
        </h1>

        <div class="login jeslee-form-container">
            <h2 class="authenticate">{% trans 'Login' %}</h2>

            <div class="description">
                {% trans 'If you are already customer you can login. Your adress data will then already known.' %}
            </div>

            <form class="authenticate_form"
                  action="{% url 'lfs_checkout_login' %}"
                  method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="login" />
                <input type="hidden" name="next" value="{% url 'lfs_checkout' %}" />

                <div class="grid_6" >
                    <ul>
                        <li id="login-form-username">
                            <div class="label">
                                {{ login_form.username.label_tag }}
                                {{ login_form.username.errors }}
                            </div>
                            {{ login_form.username }}
                        </li>
                        <li id="login-form-password">
                            <div class="label">
                                {{ login_form.password.label_tag }}
                                {{ login_form.password.errors }}
                            </div>
                            {{ login_form.password }}
                        </li>
                    </ul>
                    <a href="{% url 'lfs_password_reset' %}">{% trans 'Forgot password?' %}</a>
                </div>
                <div class="clear"></div>


                <button type="submit"
                        class="checkout-button navigation-button"
                        href="{% url 'lfs_checkout' %}">{% trans 'Login' %}</button>

            </form>
        </div>

        {% if not ANON_ONLY %}
            <div class="register jeslee-form-container">
                <h2 class="authenticate">{% trans 'Register' %}</h2>

                <div class="description">
                    {% trans 'If you are not already a customer you can register in order to store your address data and to follow the state of your orders.' %}
                </div>

                <form action="{% url 'lfs_checkout_login' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="register" />
                    <input type="hidden" name="next" value="{% url 'lfs_checkout' %}" />

                    <div class="grid_6">
                        <ul>
                            <li id="register-form-email">
                                <div class="label">
                                    {{ register_form.email.label_tag }}
                                    {{ register_form.email.errors }}
                                </div>
                                {{ register_form.email }}
                            </li>
                            <li id="register-form-password-1">
                                <div class="label">
                                    {{ register_form.password_1.label_tag }}
                                    {{ register_form.password_1.errors }}
                                </div>
                                {{ register_form.password_1 }}
                            </li>
                            <li id="register-form-password-2">
                                <div class="label">
                                    {{ register_form.password_2.label_tag }}
                                    {{ register_form.password_2.errors }}
                                </div>
                                {{ register_form.password_2 }}
                            </li>
                        </ul>
                    </div>

                    <div class="clear"></div>

                    <button class="register-button navigation-button"
                                type="submit"
                                href="{% url 'lfs_checkout' %}">{% trans "Register" %}</button>
                </form>

            </div>
        {% endif %}

        {% if anonymous_checkout %}
            <div class="anonymous-checkout jeslee-form-container">
                <h2 class="authenticate">{% trans 'Checkout' %}</h2>

                <div class="description">
                    {% trans 'You can also checkout without login or registration.' %}
                </div>

                <div class="form">&nbsp;</div>

                <a class="checkout-button navigation-button"
                   href="{% url 'lfs_checkout' %}">
                   {% trans 'Checkout' %}
                </a>
            </div>
        {% endif %}
    </div> <!-- checkout-login-container -->
{% endblock %}
