{% load i18n %}
<div class="payment container">
    <div class="jeslee-form-container-header">
        {% trans 'Payment' %}
    </div>
    <ul>
    {% for payment_method in payment_methods %}
        <li id="payment-method-container-{{ payment_method.id }}" class="payment-method-container">
            <div class="payment-method">
                <div class="payment-method-radio">
                    <input type="radio"
                           name="payment_method"
                           class="update-checkout payment-methods payment-method-type-{{ payment_method.type }}"
                           id="payment-method-{{ payment_method.id }}"
                           data-payment-method="{{ payment_method.id }}"
                           {% ifequal payment_method.id selected_payment_method.id  %}checked="checked"{% endifequal %}
                           value="{{payment_method.id}}" />
                </div>

                <div class="payment-method-name">
                    <label for="payment-method-{{ payment_method.id }}">{{ payment_method.name }}</label>
                    {% if payment_method.image %}
                        <img class="payment-method-image"
                             src="{{ payment_method.image.url }}"
                             alt="{{ payment_method.name }}">
                    {% endif %}
                </div>
                <div class="payment-method-description extra_info">
                    {{ payment_method.description|safe }}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
